pipeline/ExactLoadReceivablesList.json
{
	"name": "ExactLoadReceivablesList",
	"properties": {
		"activities": [
			{
				"name": "GetEOLBearerToken",
				"type": "AzureFunctionActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": "GetNewBearerToken",
					"method": "GET"
				},
				"linkedServiceName": {
					"referenceName": "BonvueExactFunctions",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Copy ReceivablesList",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "GetEOLBearerToken",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Authorization": {
								"value": "Bearer @{activity('GetEOLBearerToken').output.Response}",
								"type": "Expression"
							}
						},
						"paginationRules": {
							"AbsoluteUrl": "$.d.__next"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "TRUNCATE TABLE RECEIVABLESLIST",
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['d']['results'][0]['HID']"
								},
								"sink": {
									"name": "HID",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Id']"
								},
								"sink": {
									"name": "Id",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Description']"
								},
								"sink": {
									"name": "Description",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['DueDate']"
								},
								"sink": {
									"name": "DueDate",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Amount']"
								},
								"sink": {
									"name": "Amount",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['CurrencyCode']"
								},
								"sink": {
									"name": "CurrencyCode",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['AccountId']"
								},
								"sink": {
									"name": "AccountId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['AccountCode']"
								},
								"sink": {
									"name": "AccountCode",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['AccountName']"
								},
								"sink": {
									"name": "AccountName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['JournalCode']"
								},
								"sink": {
									"name": "JournalCode",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['JournalDescription']"
								},
								"sink": {
									"name": "JournalDescription",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['AmountInTransit']"
								},
								"sink": {
									"name": "AmountInTransit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['InvoiceNumber']"
								},
								"sink": {
									"name": "InvoiceNumber",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['InvoiceDate']"
								},
								"sink": {
									"name": "InvoiceDate",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['YourRef']"
								},
								"sink": {
									"name": "YourRef",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['EntryNumber']"
								},
								"sink": {
									"name": "EntryNumber",
									"type": "String"
								}
							}
						],
						"collectionReference": ""
					}
				},
				"inputs": [
					{
						"referenceName": "DS_EOL_RECEIVABLESLIST",
						"type": "DatasetReference",
						"parameters": {
							"division": "2928333"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_BonvueSQL_ReceivablesList",
						"type": "DatasetReference"
					}
				]
			}
		],
		"folder": {
			"name": "Exact/Exact Database"
		},
		"annotations": []
	}
}