pipeline/ExactLoadPurchaseEntries.json
{
	"name": "ExactLoadPurchaseEntries",
	"properties": {
		"activities": [
			{
				"name": "GetEOLBearerToken",
				"type": "AzureFunctionActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": "GetNewBearerToken",
					"method": "GET"
				},
				"linkedServiceName": {
					"referenceName": "BonvueExactFunctions",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Copy PurchasEntreis",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "GetEOLBearerToken",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Authorization": {
								"value": "Bearer @{activity('GetEOLBearerToken').output.Response}",
								"type": "Expression"
							}
						},
						"paginationRules": {
							"AbsoluteUrl": "$.d.__next"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "TRUNCATE TABLE PURCHASEENTRIES",
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"dataIntegrationUnits": 2,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['d']['results'][0]['AmountDC']"
								},
								"sink": {
									"name": "AmountDC",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['AmountFC']"
								},
								"sink": {
									"name": "AmountFC",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['BatchNumber']"
								},
								"sink": {
									"name": "BatchNumber",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Created']"
								},
								"sink": {
									"name": "Created",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['CreatorFullName']"
								},
								"sink": {
									"name": "CreatorFullName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Currency']"
								},
								"sink": {
									"name": "Currency",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Supplier']"
								},
								"sink": {
									"name": "Supplier",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['SupplierName']"
								},
								"sink": {
									"name": "SupplierName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Description']"
								},
								"sink": {
									"name": "Description",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Division']"
								},
								"sink": {
									"name": "Division",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Document']"
								},
								"sink": {
									"name": "Document",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['DocumentNumber']"
								},
								"sink": {
									"name": "DocumentNumber",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['DocumentSubject']"
								},
								"sink": {
									"name": "DocumentSubject",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['DueDate']"
								},
								"sink": {
									"name": "DueDate",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['EntryDate']"
								},
								"sink": {
									"name": "EntryDate",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['EntryID']"
								},
								"sink": {
									"name": "EntryID",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['EntryNumber']"
								},
								"sink": {
									"name": "EntryNumber",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['ExternalLinkDescription']"
								},
								"sink": {
									"name": "ExternalLinkDescription",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['ExternalLinkReference']"
								},
								"sink": {
									"name": "ExternalLinkReference",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['GAccountAmountFC']"
								},
								"sink": {
									"name": "GAccountAmountFC",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['InvoiceNumber']"
								},
								"sink": {
									"name": "InvoiceNumber",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Journal']"
								},
								"sink": {
									"name": "Journal",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['JournalDescription']"
								},
								"sink": {
									"name": "JournalDescription",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Modified']"
								},
								"sink": {
									"name": "Modified",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['ModifierFullName']"
								},
								"sink": {
									"name": "ModifierFullName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['OrderNumber']"
								},
								"sink": {
									"name": "OrderNumber",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['PaymentCondition']"
								},
								"sink": {
									"name": "PaymentCondition",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['PaymentConditionDescription']"
								},
								"sink": {
									"name": "PaymentConditionDescription",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['PaymentReference']"
								},
								"sink": {
									"name": "PaymentReference",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['ProcessNumber']"
								},
								"sink": {
									"name": "ProcessNumber",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Rate']"
								},
								"sink": {
									"name": "Rate",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['ReportingYear']"
								},
								"sink": {
									"name": "ReportingYear",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['ReportingPeriod']"
								},
								"sink": {
									"name": "ReportingPeriod",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Reversal']"
								},
								"sink": {
									"name": "Reversal",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Status']"
								},
								"sink": {
									"name": "Status",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['StatusDescription']"
								},
								"sink": {
									"name": "StatusDescription",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Type']"
								},
								"sink": {
									"name": "Type",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['TypeDescription']"
								},
								"sink": {
									"name": "TypeDescription",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['VATAmountDC']"
								},
								"sink": {
									"name": "VATAmountDC",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['VATAmountFC']"
								},
								"sink": {
									"name": "VATAmountFC",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['YourRef']"
								},
								"sink": {
									"name": "YourRef",
									"type": "String"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "DS_EOL_PURCHASEENTRIES",
						"type": "DatasetReference",
						"parameters": {
							"division": "2928333"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_BonvueSQL_PurchaseEntries",
						"type": "DatasetReference"
					}
				]
			}
		],
		"folder": {
			"name": "Exact/Exact Database"
		},
		"annotations": []
	}
}