pipeline/ExactLoadCostCenters.json
{
	"name": "ExactLoadCostCenters",
	"properties": {
		"activities": [
			{
				"name": "GetEOLBearerToken",
				"type": "AzureFunctionActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": "GetNewBearerToken",
					"method": "GET"
				},
				"linkedServiceName": {
					"referenceName": "BonvueExactFunctions",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Copy  CostCenters",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "GetEOLBearerToken",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "/api/v1//hrm/Costcenters"
					},
					{
						"name": "Destination",
						"value": "CostCenters."
					}
				],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Authorization": {
								"value": "Bearer @{activity('GetEOLBearerToken').output.Response}",
								"type": "Expression"
							}
						},
						"paginationRules": {
							"AbsoluteUrl": "$.d.__next"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "TRUNCATE TABLE CostCenters",
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"dataIntegrationUnits": 2,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "['Active']"
								},
								"sink": {
									"name": "Active",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Code']"
								},
								"sink": {
									"name": "Code",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Created']"
								},
								"sink": {
									"name": "Created",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Creator']"
								},
								"sink": {
									"name": "Creator",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['CreatorFullName']"
								},
								"sink": {
									"name": "CreatorFullName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Description']"
								},
								"sink": {
									"name": "Description",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Division']"
								},
								"sink": {
									"name": "Division",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['EndDate']"
								},
								"sink": {
									"name": "EndDate",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['ID']"
								},
								"sink": {
									"name": "ID",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Modified']"
								},
								"sink": {
									"name": "Modified",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Modifier']"
								},
								"sink": {
									"name": "Modifier",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['ModifierFullName']"
								},
								"sink": {
									"name": "ModifierFullName",
									"type": "String"
								}
							}
						],
						"collectionReference": "$['d']['results']",
						"mapComplexValuesToString": false
					}
				},
				"inputs": [
					{
						"referenceName": "DS_EOL_COSTCENTERS",
						"type": "DatasetReference",
						"parameters": {
							"division": "2928333"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_BonvueSQL_CostCenters",
						"type": "DatasetReference"
					}
				]
			}
		],
		"folder": {
			"name": "Exact/Exact Database"
		},
		"annotations": []
	}
}