pipeline/ExactLoadAgingPayableList.json
{
	"name": "ExactLoadAgingPayableList",
	"properties": {
		"activities": [
			{
				"name": "GetEOLBearerToken",
				"type": "AzureFunctionActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": "GetNewBearerToken",
					"method": "GET"
				},
				"linkedServiceName": {
					"referenceName": "BonvueExactFunctions",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Copy AgingPayableList",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "GetEOLBearerToken",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Authorization": {
								"value": "Bearer @{activity('GetEOLBearerToken').output.Response}",
								"type": "Expression"
							}
						},
						"paginationRules": {
							"AbsoluteUrl": "$.d.__next"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "TRUNCATE TABLE agingpayablelist",
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"dataIntegrationUnits": 2,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "['AccountId']"
								},
								"sink": {
									"name": "AccountId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['AccountCode']"
								},
								"sink": {
									"name": "AccountCode",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['AccountName']"
								},
								"sink": {
									"name": "AccountName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['TotalAmount']"
								},
								"sink": {
									"name": "TotalAmount",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['AgeGroup1']"
								},
								"sink": {
									"name": "AgeGroup1",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['AgeGroup1Description']"
								},
								"sink": {
									"name": "AgeGroup1Description",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['AgeGroup1Amount']"
								},
								"sink": {
									"name": "AgeGroup1Amount",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['AgeGroup2']"
								},
								"sink": {
									"name": "AgeGroup2",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['AgeGroup2Description']"
								},
								"sink": {
									"name": "AgeGroup2Description",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['AgeGroup2Amount']"
								},
								"sink": {
									"name": "AgeGroup2Amount",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['AgeGroup3']"
								},
								"sink": {
									"name": "AgeGroup3",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['AgeGroup3Description']"
								},
								"sink": {
									"name": "AgeGroup3Description",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['AgeGroup3Amount']"
								},
								"sink": {
									"name": "AgeGroup3Amount",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['AgeGroup4']"
								},
								"sink": {
									"name": "AgeGroup4",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['AgeGroup4Description']"
								},
								"sink": {
									"name": "AgeGroup4Description",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['AgeGroup4Amount']"
								},
								"sink": {
									"name": "AgeGroup4Amount",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['CurrencyCode']"
								},
								"sink": {
									"name": "CurrencyCode",
									"type": "String"
								}
							}
						],
						"collectionReference": "$['d']['results']"
					}
				},
				"inputs": [
					{
						"referenceName": "DS_EOL_AGINGPAYABLESLIST",
						"type": "DatasetReference",
						"parameters": {
							"division": "2928333"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_BonvueSQL_AgingPayableList",
						"type": "DatasetReference"
					}
				]
			}
		],
		"folder": {
			"name": "Exact/Exact Database"
		},
		"annotations": []
	}
}