pipeline/ExactLoadGeneralJournalEntryLines.json
{
	"name": "ExactLoadGeneralJournalEntryLines",
	"properties": {
		"activities": [
			{
				"name": "GetEOLBearerToken",
				"type": "AzureFunctionActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": "GetNewBearerToken",
					"method": "GET"
				},
				"linkedServiceName": {
					"referenceName": "BonvueExactFunctions",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Copy GeneralJournalEntryLines",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "GetEOLBearerToken",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Authorization": {
								"value": "Bearer @{activity('GetEOLBearerToken').output.Response}",
								"type": "Expression"
							}
						},
						"paginationRules": {
							"AbsoluteUrl": "$.d.__next"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['d']['results'][0]['Account']"
								},
								"sink": {
									"name": "Account",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['AccountCode']"
								},
								"sink": {
									"name": "AccountCode",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['AccountName']"
								},
								"sink": {
									"name": "AccountName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['AmountDC']"
								},
								"sink": {
									"name": "AmountDC",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['AmountFC']"
								},
								"sink": {
									"name": "AmountFC",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['AmountVATDC']"
								},
								"sink": {
									"name": "AmountVATDC",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['AmountVATFC']"
								},
								"sink": {
									"name": "AmountVATFC",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Asset']"
								},
								"sink": {
									"name": "Asset",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['AssetCode']"
								},
								"sink": {
									"name": "AssetCode",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['AssetDescription']"
								},
								"sink": {
									"name": "AssetDescription",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['CostCenter']"
								},
								"sink": {
									"name": "CostCenter",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['CostCenterDescription']"
								},
								"sink": {
									"name": "CostCenterDescription",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['CostUnit']"
								},
								"sink": {
									"name": "CostUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['CostUnitDescription']"
								},
								"sink": {
									"name": "CostUnitDescription",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Created']"
								},
								"sink": {
									"name": "Created",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Creator']"
								},
								"sink": {
									"name": "Creator",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['CreatorFullName']"
								},
								"sink": {
									"name": "CreatorFullName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Date']"
								},
								"sink": {
									"name": "Date",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Description']"
								},
								"sink": {
									"name": "Description",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Division']"
								},
								"sink": {
									"name": "Division",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Document']"
								},
								"sink": {
									"name": "Document",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['DocumentNumber']"
								},
								"sink": {
									"name": "DocumentNumber",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['DocumentSubject']"
								},
								"sink": {
									"name": "DocumentSubject",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['EntryID']"
								},
								"sink": {
									"name": "EntryID",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['EntryNumber']"
								},
								"sink": {
									"name": "EntryNumber",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['GLAccount']"
								},
								"sink": {
									"name": "GLAccount",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['GLAccountCode']"
								},
								"sink": {
									"name": "GLAccountCode",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['GLAccountDescription']"
								},
								"sink": {
									"name": "GLAccountDescription",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['ID']"
								},
								"sink": {
									"name": "ID",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['LineNumber']"
								},
								"sink": {
									"name": "LineNumber",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Modified']"
								},
								"sink": {
									"name": "Modified",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Modifier']"
								},
								"sink": {
									"name": "Modifier",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['ModifierFullName']"
								},
								"sink": {
									"name": "ModifierFullName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Notes']"
								},
								"sink": {
									"name": "Notes",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['OffsetID']"
								},
								"sink": {
									"name": "OffsetID",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['OurRef']"
								},
								"sink": {
									"name": "OurRef",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Project']"
								},
								"sink": {
									"name": "Project",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['ProjectCode']"
								},
								"sink": {
									"name": "ProjectCode",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['ProjectDescription']"
								},
								"sink": {
									"name": "ProjectDescription",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Quantity']"
								},
								"sink": {
									"name": "Quantity",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['VATBaseAmountDC']"
								},
								"sink": {
									"name": "VATBaseAmountDC",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['VATBaseAmountFC']"
								},
								"sink": {
									"name": "VATBaseAmountFC",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['VATCode']"
								},
								"sink": {
									"name": "VATCode",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['VATCodeDescription']"
								},
								"sink": {
									"name": "VATCodeDescription",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['VATPercentage']"
								},
								"sink": {
									"name": "VATPercentage",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['VATType']"
								},
								"sink": {
									"name": "VATType",
									"type": "String"
								}
							}
						],
						"collectionReference": ""
					}
				},
				"inputs": [
					{
						"referenceName": "DS_EOL_GENERALJOURNALENTRYLINES",
						"type": "DatasetReference",
						"parameters": {
							"division": "2928333"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_BonvueSQL_GeneralJournalEntryLines",
						"type": "DatasetReference"
					}
				]
			}
		],
		"folder": {
			"name": "Exact/Exact Database"
		},
		"annotations": []
	}
}