pipeline/ExactLoadDivison.json
{
	"name": "ExactLoadDivison",
	"properties": {
		"activities": [
			{
				"name": "GetEOLBearerToken",
				"type": "AzureFunctionActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": "GetNewBearerToken",
					"method": "GET"
				},
				"linkedServiceName": {
					"referenceName": "BonvueExactFunctions",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Copy Division",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "GetEOLBearerToken",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Authorization": {
								"value": "Bearer @{activity('GetEOLBearerToken').output.Response}",
								"type": "Expression"
							}
						},
						"paginationRules": {
							"AbsoluteUrl": "$.d.__next"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "TRUNCATE TABLE DIVISION",
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['d']['results'][0]['BlockingStatus']"
								},
								"sink": {
									"name": "BlockingStatus",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Code']"
								},
								"sink": {
									"name": "Code",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Country']"
								},
								"sink": {
									"name": "Country",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['CountryDescription']"
								},
								"sink": {
									"name": "CountryDescription",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Created']"
								},
								"sink": {
									"name": "Created",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Creator']"
								},
								"sink": {
									"name": "Creator",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['CreatorFullName']"
								},
								"sink": {
									"name": "CreatorFullName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Currency']"
								},
								"sink": {
									"name": "Currency",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['CurrencyDescription']"
								},
								"sink": {
									"name": "CurrencyDescription",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Customer']"
								},
								"sink": {
									"name": "Customer",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['CustomerCode']"
								},
								"sink": {
									"name": "CustomerCode",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['CustomerName']"
								},
								"sink": {
									"name": "CustomerName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Description']"
								},
								"sink": {
									"name": "Description",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['HID']"
								},
								"sink": {
									"name": "HID",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Main']"
								},
								"sink": {
									"name": "Main",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Modified']"
								},
								"sink": {
									"name": "Modified",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Modifier']"
								},
								"sink": {
									"name": "Modifier",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['ModifierFullName']"
								},
								"sink": {
									"name": "ModifierFullName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['OBNumber']"
								},
								"sink": {
									"name": "OBNumber",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['SiretNumber']"
								},
								"sink": {
									"name": "SiretNumber",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['StartDate']"
								},
								"sink": {
									"name": "StartDate",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Status']"
								},
								"sink": {
									"name": "Status",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['TaxOfficeNumber']"
								},
								"sink": {
									"name": "TaxOfficeNumber",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['TaxReferenceNumber']"
								},
								"sink": {
									"name": "TaxReferenceNumber",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['TemplateCode']"
								},
								"sink": {
									"name": "TemplateCode",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['VATNumber']"
								},
								"sink": {
									"name": "VATNumber",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Website']"
								},
								"sink": {
									"name": "Website",
									"type": "String"
								}
							}
						],
						"collectionReference": ""
					}
				},
				"inputs": [
					{
						"referenceName": "DS_EOL_DIVISION",
						"type": "DatasetReference",
						"parameters": {
							"division": "2928333"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_BonvueSQL_Division",
						"type": "DatasetReference"
					}
				]
			}
		],
		"folder": {
			"name": "Exact/Exact Database"
		},
		"annotations": []
	}
}