pipeline/Hours.json
{
	"name": "Hours",
	"properties": {
		"activities": [
			{
				"name": "Until AllRecordsRead",
				"type": "Until",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greaterOrEquals(add(int(variables('limit')),int(variables('offset'))),int(variables('count')))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data2",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET"
								},
								"sink": {
									"type": "AzureSqlSink",
									"tableOption": "autoCreate"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "['id']"
											},
											"sink": {
												"name": "data'][0]['id",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['employee']['id']"
											},
											"sink": {
												"name": "data'][0]['employee_id",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['approvalstatus']['id']"
											},
											"sink": {
												"name": "data'][0]['approvalstatus_id"
											}
										},
										{
											"source": {
												"path": "['approvalstatus']['label']"
											},
											"sink": {
												"name": "data'][0]['approvalstatus_label"
											}
										},
										{
											"source": {
												"path": "['created_at']"
											},
											"sink": {
												"name": "created_at"
											}
										},
										{
											"source": {
												"path": "['updated_at']"
											},
											"sink": {
												"name": "updated_at"
											}
										},
										{
											"source": {
												"path": "['locked']"
											},
											"sink": {
												"name": "locked"
											}
										},
										{
											"source": {
												"path": "['status']"
											},
											"sink": {
												"name": "status"
											}
										},
										{
											"source": {
												"path": "['corrections']['amount']"
											},
											"sink": {
												"name": "amount"
											}
										},
										{
											"source": {
												"path": "['corrections']['value']"
											},
											"sink": {
												"name": "value"
											}
										},
										{
											"source": {
												"path": "['corrections']['last_correction_date']"
											},
											"sink": {
												"name": "last_correction_date"
											}
										},
										{
											"source": {
												"path": "['is_productive']"
											},
											"sink": {
												"name": "is_productive"
											}
										},
										{
											"source": {
												"path": "['hours']"
											},
											"sink": {
												"name": "hours"
											}
										},
										{
											"source": {
												"path": "['start_date']"
											},
											"sink": {
												"name": "start_date"
											}
										},
										{
											"source": {
												"path": "['is_time_defined']"
											},
											"sink": {
												"name": "is_time_defined"
											}
										},
										{
											"source": {
												"path": "['is_recurring']"
											},
											"sink": {
												"name": "is_recurring"
											}
										},
										{
											"source": {
												"path": "['is_external']"
											},
											"sink": {
												"name": "is_external"
											}
										},
										{
											"source": {
												"path": "['billable']"
											},
											"sink": {
												"name": "billable"
											}
										},
										{
											"source": {
												"path": "['custom_fields'][0]['id']"
											},
											"sink": {
												"name": "data'][0]['custom_fields'][0]['id"
											}
										},
										{
											"source": {
												"path": "['custom_fields'][0]['name']"
											},
											"sink": {
												"name": "data'][0]['custom_fields'][0]['name"
											}
										},
										{
											"source": {
												"path": "['custom_fields'][0]['label']"
											},
											"sink": {
												"name": "data'][0]['custom_fields'][0]['label"
											}
										},
										{
											"source": {
												"path": "['custom_fields'][0]['render_type']"
											},
											"sink": {
												"name": "render_type"
											}
										},
										{
											"source": {
												"path": "['custom_fields'][0]['position']"
											},
											"sink": {
												"name": "position"
											}
										},
										{
											"source": {
												"path": "['custom_fields'][0]['value_type']"
											},
											"sink": {
												"name": "value_type"
											}
										},
										{
											"source": {
												"path": "['custom_fields'][0]['options']"
											},
											"sink": {
												"name": "items"
											}
										},
										{
											"source": {
												"path": "['source']"
											},
											"sink": {
												"name": "source"
											}
										},
										{
											"source": {
												"path": "$['errors']"
											},
											"sink": {
												"name": "errors"
											}
										},
										{
											"source": {
												"path": "$['debug']"
											},
											"sink": {
												"name": "debug"
											}
										}
									],
									"collectionReference": "$['data']"
								}
							},
							"inputs": [
								{
									"referenceName": "Simplicate_Hours",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "BonvueSQL_Hours",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Set offsetTemp",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Copy data2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "offsettemp",
								"value": {
									"value": "@string(add(int(variables('limit')),int(variables('limit'))))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set offset",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set offsetTemp",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "offset",
								"value": {
									"value": "@variables('offsettemp')",
									"type": "Expression"
								}
							}
						}
					],
					"timeout": "7.00:00:00"
				}
			},
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://bonvue.simplicate.nl/api/v2/hours/hours?metadata=count,limit",
					"method": "GET",
					"headers": {
						"Authentication-Key": "I6t2AIRw4hTFkhdvXNKSO3hpMVskaGnx",
						"Authentication-Secret": "pE0tFKf0nK7X70U1BvM1rYjASg4DetxD"
					},
					"disableCertValidation": true
				}
			},
			{
				"name": "Data flow1",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Web1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "1.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			}
		],
		"variables": {
			"count": {
				"type": "String",
				"defaultValue": "0"
			},
			"limit": {
				"type": "String",
				"defaultValue": "100"
			},
			"offset": {
				"type": "String",
				"defaultValue": "0"
			},
			"offsettemp": {
				"type": "String",
				"defaultValue": "0"
			}
		},
		"annotations": []
	}
}