pipeline/LoadOALRestAPI.json
{
	"name": "LoadOALRestAPI",
	"properties": {
		"activities": [
			{
				"name": "GetEOLBearerToken",
				"type": "AzureFunctionActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": "GetBearerToken",
					"method": "GET"
				},
				"linkedServiceName": {
					"referenceName": "BonvueExactFunctions",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Copy  CostCenters",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy BankEntries",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "/api/v1//hrm/Costcenters"
					},
					{
						"name": "Destination",
						"value": "CostCenters."
					}
				],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Authorization": {
								"value": "Bearer @{activity('GetEOLBearerToken').output.Response}",
								"type": "Expression"
							}
						},
						"paginationRules": {
							"AbsoluteUrl": "$.d.__next"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "DELETE CostCenters",
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "['Active']"
								},
								"sink": {
									"name": "Active",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Code']"
								},
								"sink": {
									"name": "Code",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Created']"
								},
								"sink": {
									"name": "Created",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Creator']"
								},
								"sink": {
									"name": "Creator",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['CreatorFullName']"
								},
								"sink": {
									"name": "CreatorFullName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Description']"
								},
								"sink": {
									"name": "Description",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Division']"
								},
								"sink": {
									"name": "Division",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['EndDate']"
								},
								"sink": {
									"name": "EndDate",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['ID']"
								},
								"sink": {
									"name": "ID",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Modified']"
								},
								"sink": {
									"name": "Modified",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Modifier']"
								},
								"sink": {
									"name": "Modifier",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['ModifierFullName']"
								},
								"sink": {
									"name": "ModifierFullName",
									"type": "String"
								}
							}
						],
						"collectionReference": "$['d']['results']",
						"mapComplexValuesToString": false
					}
				},
				"inputs": [
					{
						"referenceName": "DS_EOL_COSTCENTERS",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_BonvueSQL_CostCenters",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy GLAccounts",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy GLAccountClassificationMappings",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Authorization": {
								"value": "Bearer @{activity('GetEOLBearerToken').output.Response}",
								"type": "Expression"
							}
						},
						"paginationRules": {
							"AbsoluteUrl": "$.d.__next"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "DELETE GLACCOUNTS",
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "['ID']"
								},
								"sink": {
									"name": "ID",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['AssimilatedVATBox']"
								},
								"sink": {
									"name": "AssimilatedVATBox",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['BalanceSide']"
								},
								"sink": {
									"name": "BalanceSide",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['BalanceType']"
								},
								"sink": {
									"name": "BalanceType",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['BelcotaxType']"
								},
								"sink": {
									"name": "BelcotaxType",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Code']"
								},
								"sink": {
									"name": "Code",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Compress']"
								},
								"sink": {
									"name": "Compress",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Costcenter']"
								},
								"sink": {
									"name": "Costcenter",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['CostcenterDescription']"
								},
								"sink": {
									"name": "CostcenterDescription",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Costunit']"
								},
								"sink": {
									"name": "Costunit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['CostunitDescription']"
								},
								"sink": {
									"name": "CostunitDescription",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Created']"
								},
								"sink": {
									"name": "Created",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Creator']"
								},
								"sink": {
									"name": "Creator",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['CreatorFullName']"
								},
								"sink": {
									"name": "CreatorFullName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Description']"
								},
								"sink": {
									"name": "Description",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Division']"
								},
								"sink": {
									"name": "Division",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['ExcludeVATListing']"
								},
								"sink": {
									"name": "ExcludeVATListing",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['ExpenseNonDeductiblePercentage']"
								},
								"sink": {
									"name": "ExpenseNonDeductiblePercentage",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['IsBlocked']"
								},
								"sink": {
									"name": "IsBlocked",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Matching']"
								},
								"sink": {
									"name": "Matching",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Modified']"
								},
								"sink": {
									"name": "Modified",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Modifier']"
								},
								"sink": {
									"name": "Modifier",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['PrivateGLAccount']"
								},
								"sink": {
									"name": "PrivateGLAccount",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['PrivatePercentage']"
								},
								"sink": {
									"name": "PrivatePercentage",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['ReportingCode']"
								},
								"sink": {
									"name": "ReportingCode",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['RevalueCurrency']"
								},
								"sink": {
									"name": "RevalueCurrency",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['SearchCode']"
								},
								"sink": {
									"name": "SearchCode",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Type']"
								},
								"sink": {
									"name": "Type",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['TypeDescription']"
								},
								"sink": {
									"name": "TypeDescription",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['UseCostcenter']"
								},
								"sink": {
									"name": "UseCostcenter",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['UseCostunit']"
								},
								"sink": {
									"name": "UseCostunit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['VATCode']"
								},
								"sink": {
									"name": "VATCode",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['VATDescription']"
								},
								"sink": {
									"name": "VATDescription",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['VATGLAccountType']"
								},
								"sink": {
									"name": "VATGLAccountType",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['VATNonDeductibleGLAccount']"
								},
								"sink": {
									"name": "VATNonDeductibleGLAccount",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['VATNonDeductiblePercentage']"
								},
								"sink": {
									"name": "VATNonDeductiblePercentage",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['VATSystem']"
								},
								"sink": {
									"name": "VATSystem",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['YearEndCostGLAccount']"
								},
								"sink": {
									"name": "YearEndCostGLAccount",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['YearEndReflectionGLAccount']"
								},
								"sink": {
									"name": "YearEndReflectionGLAccount",
									"type": "String"
								}
							}
						],
						"collectionReference": "$['d']['results']",
						"mapComplexValuesToString": true
					}
				},
				"inputs": [
					{
						"referenceName": "DS_EOL_GLACCOUNTS",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_BonvueSQL_GLAccounts",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy GLAccountClassificationMappings",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy  CostCenters",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Authorization": {
								"value": "Bearer @{activity('GetEOLBearerToken').output.Response}",
								"type": "Expression"
							}
						},
						"paginationRules": {
							"AbsoluteUrl": "$.d.__next"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "DELETE GLAccountClassificationMappings",
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "['__metadata']['uri']"
								},
								"sink": {
									"name": "uri"
								}
							},
							{
								"source": {
									"path": "['__metadata']['type']"
								},
								"sink": {
									"name": "type"
								}
							},
							{
								"source": {
									"path": "['Classification']"
								},
								"sink": {
									"name": "Classification",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['ClassificationCode']"
								},
								"sink": {
									"name": "ClassificationCode",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['ClassificationDescription']"
								},
								"sink": {
									"name": "ClassificationDescription",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Division']"
								},
								"sink": {
									"name": "Division",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['GLAccount']"
								},
								"sink": {
									"name": "GLAccount",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['GLAccountCode']"
								},
								"sink": {
									"name": "GLAccountCode",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['GLAccountDescription']"
								},
								"sink": {
									"name": "GLAccountDescription",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['GLSchemeCode']"
								},
								"sink": {
									"name": "GLSchemeCode",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['GLSchemeDescription']"
								},
								"sink": {
									"name": "GLSchemeDescription",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['GLSchemeID']"
								},
								"sink": {
									"name": "GLSchemeID",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['ID']"
								},
								"sink": {
									"name": "ID",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['__next']"
								},
								"sink": {
									"name": "__next"
								}
							}
						],
						"collectionReference": "$['d']['results']"
					}
				},
				"inputs": [
					{
						"referenceName": "DS_EOL_GLACCOUNTCLASSIFICATIONMAPPINGS",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_BonvueSQL_GLAccountClassificationMappings",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy AgingPayableList",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "GetEOLBearerToken",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Authorization": {
								"value": "Bearer @{activity('GetEOLBearerToken').output.Response}",
								"type": "Expression"
							}
						},
						"paginationRules": {
							"AbsoluteUrl": "$.d.__next"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "delete agingpayablelist",
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "['AccountId']"
								},
								"sink": {
									"name": "AccountId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['AccountCode']"
								},
								"sink": {
									"name": "AccountCode",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['AccountName']"
								},
								"sink": {
									"name": "AccountName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['TotalAmount']"
								},
								"sink": {
									"name": "TotalAmount",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['AgeGroup1']"
								},
								"sink": {
									"name": "AgeGroup1",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['AgeGroup1Description']"
								},
								"sink": {
									"name": "AgeGroup1Description",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['AgeGroup1Amount']"
								},
								"sink": {
									"name": "AgeGroup1Amount",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['AgeGroup2']"
								},
								"sink": {
									"name": "AgeGroup2",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['AgeGroup2Description']"
								},
								"sink": {
									"name": "AgeGroup2Description",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['AgeGroup2Amount']"
								},
								"sink": {
									"name": "AgeGroup2Amount",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['AgeGroup3']"
								},
								"sink": {
									"name": "AgeGroup3",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['AgeGroup3Description']"
								},
								"sink": {
									"name": "AgeGroup3Description",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['AgeGroup3Amount']"
								},
								"sink": {
									"name": "AgeGroup3Amount",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['AgeGroup4']"
								},
								"sink": {
									"name": "AgeGroup4",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['AgeGroup4Description']"
								},
								"sink": {
									"name": "AgeGroup4Description",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['AgeGroup4Amount']"
								},
								"sink": {
									"name": "AgeGroup4Amount",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['CurrencyCode']"
								},
								"sink": {
									"name": "CurrencyCode",
									"type": "String"
								}
							}
						],
						"collectionReference": "$['d']['results']"
					}
				},
				"inputs": [
					{
						"referenceName": "DS_EOL_AGINGPAYABLESLIST",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_BonvueSQL_AgingPayableList",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy BankEntries",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy AgingPayableList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Authorization": {
								"value": "Bearer @{activity('GetEOLBearerToken').output.Response}",
								"type": "Expression"
							}
						},
						"paginationRules": {
							"AbsoluteUrl": "$.d.__next"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "delete bankentries",
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "['ClosingBalanceFC']"
								},
								"sink": {
									"name": "ClosingBalanceFC",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Created']"
								},
								"sink": {
									"name": "Created",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Currency']"
								},
								"sink": {
									"name": "Currency",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Division']"
								},
								"sink": {
									"name": "Division",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['EntryID']"
								},
								"sink": {
									"name": "EntryID",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['EntryNumber']"
								},
								"sink": {
									"name": "EntryNumber",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['FinancialPeriod']"
								},
								"sink": {
									"name": "FinancialPeriod",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['FinancialYear']"
								},
								"sink": {
									"name": "FinancialYear",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['JournalCode']"
								},
								"sink": {
									"name": "JournalCode",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['JournalDescription']"
								},
								"sink": {
									"name": "JournalDescription",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Modified']"
								},
								"sink": {
									"name": "Modified",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['OpeningBalanceFC']"
								},
								"sink": {
									"name": "OpeningBalanceFC",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['StatusDescription']"
								},
								"sink": {
									"name": "StatusDescription",
									"type": "String"
								}
							}
						],
						"collectionReference": "$['d']['results']",
						"mapComplexValuesToString": true
					}
				},
				"inputs": [
					{
						"referenceName": "DS_EOL_BANKENTRIES",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_BonvueSQL_BankEntries",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy GLClassifications",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy GLAccounts",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Authorization": {
								"value": "Bearer @{activity('GetEOLBearerToken').output.Response}",
								"type": "Expression"
							}
						},
						"paginationRules": {
							"AbsoluteUrl": "$.d.__next"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "DELETE GLCLASSIFICATIONS",
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "['ID']"
								},
								"sink": {
									"name": "ID",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Abstract']"
								},
								"sink": {
									"name": "Abstract",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Balance']"
								},
								"sink": {
									"name": "Balance",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Code']"
								},
								"sink": {
									"name": "Code",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Created']"
								},
								"sink": {
									"name": "Created",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['CreatorFullName']"
								},
								"sink": {
									"name": "CreatorFullName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Description']"
								},
								"sink": {
									"name": "Description",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Division']"
								},
								"sink": {
									"name": "Division",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['IsTupleSubElement']"
								},
								"sink": {
									"name": "IsTupleSubElement",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Modified']"
								},
								"sink": {
									"name": "Modified",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Modifier']"
								},
								"sink": {
									"name": "Modifier",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['ModifierFullName']"
								},
								"sink": {
									"name": "ModifierFullName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Name']"
								},
								"sink": {
									"name": "Name",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['PeriodType']"
								},
								"sink": {
									"name": "PeriodType",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['SubstitutionGroup']"
								},
								"sink": {
									"name": "SubstitutionGroup",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['TaxonomyNamespaceDescription']"
								},
								"sink": {
									"name": "TaxonomyNamespaceDescription",
									"type": "String"
								}
							}
						],
						"collectionReference": "$['d']['results']"
					}
				},
				"inputs": [
					{
						"referenceName": "DS_EOL_GLCLASSIFICATIONS",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_BonvueSQL_GLClassifications",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy Payments",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy GLClassifications",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Authorization": {
								"value": "Bearer @{activity('GetEOLBearerToken').output.Response}",
								"type": "Expression"
							}
						},
						"paginationRules": {
							"AbsoluteUrl": "$.d.__next"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "DELETE PAYMENTS",
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['d']['results'][0]['ID']"
								},
								"sink": {
									"name": "ID",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Account']"
								},
								"sink": {
									"name": "Account",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['AccountBankAccountID']"
								},
								"sink": {
									"name": "AccountBankAccountID",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['AccountBankAccountNumber']"
								},
								"sink": {
									"name": "AccountBankAccountNumber",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['AccountCode']"
								},
								"sink": {
									"name": "AccountCode",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['AccountContact']"
								},
								"sink": {
									"name": "AccountContact",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['AccountContactName']"
								},
								"sink": {
									"name": "AccountContactName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['AccountName']"
								},
								"sink": {
									"name": "AccountName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['AmountDC']"
								},
								"sink": {
									"name": "AmountDC",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['AmountDiscountDC']"
								},
								"sink": {
									"name": "AmountDiscountDC",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['AmountFC']"
								},
								"sink": {
									"name": "AmountFC",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['AmountDiscountFC']"
								},
								"sink": {
									"name": "AmountDiscountFC",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['BankAccountID']"
								},
								"sink": {
									"name": "BankAccountID",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['BankAccountNumber']"
								},
								"sink": {
									"name": "BankAccountNumber",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['CashflowTransactionBatchCode']"
								},
								"sink": {
									"name": "CashflowTransactionBatchCode",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Created']"
								},
								"sink": {
									"name": "Created",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['CreatorFullName']"
								},
								"sink": {
									"name": "CreatorFullName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Currency']"
								},
								"sink": {
									"name": "Currency",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Description']"
								},
								"sink": {
									"name": "Description",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['DiscountDueDate']"
								},
								"sink": {
									"name": "DiscountDueDate",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Division']"
								},
								"sink": {
									"name": "Division",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Document']"
								},
								"sink": {
									"name": "Document",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['DocumentNumber']"
								},
								"sink": {
									"name": "DocumentNumber",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['DocumentSubject']"
								},
								"sink": {
									"name": "DocumentSubject",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['DueDate']"
								},
								"sink": {
									"name": "DueDate",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['EndDate']"
								},
								"sink": {
									"name": "EndDate",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['EndPeriod']"
								},
								"sink": {
									"name": "EndPeriod",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['EndYear']"
								},
								"sink": {
									"name": "EndYear",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['EntryDate']"
								},
								"sink": {
									"name": "EntryDate",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['EntryID']"
								},
								"sink": {
									"name": "EntryID",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['EntryNumber']"
								},
								"sink": {
									"name": "EntryNumber",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['GLAccount']"
								},
								"sink": {
									"name": "GLAccount",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['GLAccountCode']"
								},
								"sink": {
									"name": "GLAccountCode",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['GLAccountDescription']"
								},
								"sink": {
									"name": "GLAccountDescription",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['InvoiceDate']"
								},
								"sink": {
									"name": "InvoiceDate",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['InvoiceNumber']"
								},
								"sink": {
									"name": "InvoiceNumber",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['IsBatchBooking']"
								},
								"sink": {
									"name": "IsBatchBooking",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Journal']"
								},
								"sink": {
									"name": "Journal",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['JournalDescription']"
								},
								"sink": {
									"name": "JournalDescription",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Modified']"
								},
								"sink": {
									"name": "Modified",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['ModifierFullName']"
								},
								"sink": {
									"name": "ModifierFullName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['PaymentSelected']"
								},
								"sink": {
									"name": "PaymentSelected",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['PaymentSelector']"
								},
								"sink": {
									"name": "PaymentSelector",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['PaymentSelectorFullName']"
								},
								"sink": {
									"name": "PaymentSelectorFullName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['PaymentBatchNumber']"
								},
								"sink": {
									"name": "PaymentBatchNumber",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['PaymentCondition']"
								},
								"sink": {
									"name": "PaymentCondition",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['PaymentConditionDescription']"
								},
								"sink": {
									"name": "PaymentConditionDescription",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['PaymentDays']"
								},
								"sink": {
									"name": "PaymentDays",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['PaymentDaysDiscount']"
								},
								"sink": {
									"name": "PaymentDaysDiscount",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['PaymentDiscountPercentage']"
								},
								"sink": {
									"name": "PaymentDiscountPercentage",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['PaymentMethod']"
								},
								"sink": {
									"name": "PaymentMethod",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['PaymentReference']"
								},
								"sink": {
									"name": "PaymentReference",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['RateFC']"
								},
								"sink": {
									"name": "RateFC",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Source']"
								},
								"sink": {
									"name": "Source",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Status']"
								},
								"sink": {
									"name": "Status",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['TransactionAmountDC']"
								},
								"sink": {
									"name": "TransactionAmountDC",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['TransactionAmountFC']"
								},
								"sink": {
									"name": "TransactionAmountFC",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['TransactionDueDate']"
								},
								"sink": {
									"name": "TransactionDueDate",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['TransactionEntryID']"
								},
								"sink": {
									"name": "TransactionEntryID",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['TransactionID']"
								},
								"sink": {
									"name": "TransactionID",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['TransactionIsReversal']"
								},
								"sink": {
									"name": "TransactionIsReversal",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['TransactionReportingPeriod']"
								},
								"sink": {
									"name": "TransactionReportingPeriod",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['TransactionReportingYear']"
								},
								"sink": {
									"name": "TransactionReportingYear",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['TransactionStatus']"
								},
								"sink": {
									"name": "TransactionStatus",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['TransactionType']"
								},
								"sink": {
									"name": "TransactionType",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['YourRef']"
								},
								"sink": {
									"name": "YourRef",
									"type": "String"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "DS_EOL_PAYMENTS",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_BonvueSQL_Payments",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy PurchasEntreis",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy Payments",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Authorization": {
								"value": "Bearer @{activity('GetEOLBearerToken').output.Response}",
								"type": "Expression"
							}
						},
						"paginationRules": {
							"AbsoluteUrl": "$.d.__next"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "DELETE PURCHASEENTRIES",
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['d']['results'][0]['AmountDC']"
								},
								"sink": {
									"name": "AmountDC",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['AmountFC']"
								},
								"sink": {
									"name": "AmountFC",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['BatchNumber']"
								},
								"sink": {
									"name": "BatchNumber",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Created']"
								},
								"sink": {
									"name": "Created",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['CreatorFullName']"
								},
								"sink": {
									"name": "CreatorFullName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Currency']"
								},
								"sink": {
									"name": "Currency",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Supplier']"
								},
								"sink": {
									"name": "Supplier",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['SupplierName']"
								},
								"sink": {
									"name": "SupplierName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Description']"
								},
								"sink": {
									"name": "Description",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Division']"
								},
								"sink": {
									"name": "Division",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Document']"
								},
								"sink": {
									"name": "Document",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['DocumentNumber']"
								},
								"sink": {
									"name": "DocumentNumber",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['DocumentSubject']"
								},
								"sink": {
									"name": "DocumentSubject",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['DueDate']"
								},
								"sink": {
									"name": "DueDate",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['EntryDate']"
								},
								"sink": {
									"name": "EntryDate",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['EntryID']"
								},
								"sink": {
									"name": "EntryID",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['EntryNumber']"
								},
								"sink": {
									"name": "EntryNumber",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['ExternalLinkDescription']"
								},
								"sink": {
									"name": "ExternalLinkDescription",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['ExternalLinkReference']"
								},
								"sink": {
									"name": "ExternalLinkReference",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['GAccountAmountFC']"
								},
								"sink": {
									"name": "GAccountAmountFC",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['InvoiceNumber']"
								},
								"sink": {
									"name": "InvoiceNumber",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Journal']"
								},
								"sink": {
									"name": "Journal",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['JournalDescription']"
								},
								"sink": {
									"name": "JournalDescription",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Modified']"
								},
								"sink": {
									"name": "Modified",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['ModifierFullName']"
								},
								"sink": {
									"name": "ModifierFullName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['OrderNumber']"
								},
								"sink": {
									"name": "OrderNumber",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['PaymentCondition']"
								},
								"sink": {
									"name": "PaymentCondition",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['PaymentConditionDescription']"
								},
								"sink": {
									"name": "PaymentConditionDescription",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['PaymentReference']"
								},
								"sink": {
									"name": "PaymentReference",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['ProcessNumber']"
								},
								"sink": {
									"name": "ProcessNumber",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Rate']"
								},
								"sink": {
									"name": "Rate",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['ReportingYear']"
								},
								"sink": {
									"name": "ReportingYear",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['ReportingPeriod']"
								},
								"sink": {
									"name": "ReportingPeriod",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Reversal']"
								},
								"sink": {
									"name": "Reversal",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Status']"
								},
								"sink": {
									"name": "Status",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['StatusDescription']"
								},
								"sink": {
									"name": "StatusDescription",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Type']"
								},
								"sink": {
									"name": "Type",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['TypeDescription']"
								},
								"sink": {
									"name": "TypeDescription",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['VATAmountDC']"
								},
								"sink": {
									"name": "VATAmountDC",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['VATAmountFC']"
								},
								"sink": {
									"name": "VATAmountFC",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['YourRef']"
								},
								"sink": {
									"name": "YourRef",
									"type": "String"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "DS_EOL_PURCHASEENTRIES",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_BonvueSQL_PurchaseEntries",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy Receivables",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy PurchasEntreis",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Authorization": {
								"value": "Bearer @{activity('GetEOLBearerToken').output.Response}",
								"type": "Expression"
							}
						},
						"paginationRules": {
							"AbsoluteUrl": "$.d.__next"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "DELETE RECEIVABLES",
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "['ID']"
								},
								"sink": {
									"name": "ID",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Account']"
								},
								"sink": {
									"name": "Account",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['AccountBankAccountID']"
								},
								"sink": {
									"name": "AccountBankAccountID",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['AccountBankAccountNumber']"
								},
								"sink": {
									"name": "AccountBankAccountNumber",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['AccountCode']"
								},
								"sink": {
									"name": "AccountCode",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['AccountContact']"
								},
								"sink": {
									"name": "AccountContact",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['AccountContactName']"
								},
								"sink": {
									"name": "AccountContactName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['AccountName']"
								},
								"sink": {
									"name": "AccountName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['AccountCountry']"
								},
								"sink": {
									"name": "AccountCountry",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['AmountDC']"
								},
								"sink": {
									"name": "AmountDC",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['AmountDiscountDC']"
								},
								"sink": {
									"name": "AmountDiscountDC",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['AmountFC']"
								},
								"sink": {
									"name": "AmountFC",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['AmountDiscountFC']"
								},
								"sink": {
									"name": "AmountDiscountFC",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['BankAccountID']"
								},
								"sink": {
									"name": "BankAccountID",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['BankAccountNumber']"
								},
								"sink": {
									"name": "BankAccountNumber",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['CashflowTransactionBatchCode']"
								},
								"sink": {
									"name": "CashflowTransactionBatchCode",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Created']"
								},
								"sink": {
									"name": "Created",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['CreatorFullName']"
								},
								"sink": {
									"name": "CreatorFullName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Currency']"
								},
								"sink": {
									"name": "Currency",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Description']"
								},
								"sink": {
									"name": "Description",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['DirectDebitMandate']"
								},
								"sink": {
									"name": "DirectDebitMandate",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['DirectDebitMandateDescription']"
								},
								"sink": {
									"name": "DirectDebitMandateDescription",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['DirectDebitMandatePaymentType']"
								},
								"sink": {
									"name": "DirectDebitMandatePaymentType",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['DirectDebitMandateReference']"
								},
								"sink": {
									"name": "DirectDebitMandateReference",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['DirectDebitMandateType']"
								},
								"sink": {
									"name": "DirectDebitMandateType",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['DiscountDueDate']"
								},
								"sink": {
									"name": "DiscountDueDate",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Division']"
								},
								"sink": {
									"name": "Division",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Document']"
								},
								"sink": {
									"name": "Document",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['DocumentNumber']"
								},
								"sink": {
									"name": "DocumentNumber",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['DocumentSubject']"
								},
								"sink": {
									"name": "DocumentSubject",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['DueDate']"
								},
								"sink": {
									"name": "DueDate",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['EndDate']"
								},
								"sink": {
									"name": "EndDate",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['EndPeriod']"
								},
								"sink": {
									"name": "EndPeriod",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['EndToEndID']"
								},
								"sink": {
									"name": "EndToEndID",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['EndYear']"
								},
								"sink": {
									"name": "EndYear",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['EntryDate']"
								},
								"sink": {
									"name": "EntryDate",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['EntryID']"
								},
								"sink": {
									"name": "EntryID",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['EntryNumber']"
								},
								"sink": {
									"name": "EntryNumber",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['GLAccountCode']"
								},
								"sink": {
									"name": "GLAccountCode",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['GLAccountDescription']"
								},
								"sink": {
									"name": "GLAccountDescription",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['InvoiceDate']"
								},
								"sink": {
									"name": "InvoiceDate",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['InvoiceNumber']"
								},
								"sink": {
									"name": "InvoiceNumber",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['IsBatchBooking']"
								},
								"sink": {
									"name": "IsBatchBooking",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['IsFullyPaid']"
								},
								"sink": {
									"name": "IsFullyPaid",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Journal']"
								},
								"sink": {
									"name": "Journal",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['JournalDescription']"
								},
								"sink": {
									"name": "JournalDescription",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['LastPaymentDate']"
								},
								"sink": {
									"name": "LastPaymentDate",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Modified']"
								},
								"sink": {
									"name": "Modified",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['ModifierFullName']"
								},
								"sink": {
									"name": "ModifierFullName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['PaymentCondition']"
								},
								"sink": {
									"name": "PaymentCondition",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['PaymentConditionDescription']"
								},
								"sink": {
									"name": "PaymentConditionDescription",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['PaymentDays']"
								},
								"sink": {
									"name": "PaymentDays",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['PaymentDaysDiscount']"
								},
								"sink": {
									"name": "PaymentDaysDiscount",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['PaymentDiscountPercentage']"
								},
								"sink": {
									"name": "PaymentDiscountPercentage",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['PaymentInformationID']"
								},
								"sink": {
									"name": "PaymentInformationID",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['PaymentMethod']"
								},
								"sink": {
									"name": "PaymentMethod",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['PaymentReference']"
								},
								"sink": {
									"name": "PaymentReference",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['RateFC']"
								},
								"sink": {
									"name": "RateFC",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['ReceivableSelected']"
								},
								"sink": {
									"name": "ReceivableSelected",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['ReceivableSelector']"
								},
								"sink": {
									"name": "ReceivableSelector",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['ReceivableSelectorFullName']"
								},
								"sink": {
									"name": "ReceivableSelectorFullName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['ReceivableBatchNumber']"
								},
								"sink": {
									"name": "ReceivableBatchNumber",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Source']"
								},
								"sink": {
									"name": "Source",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Status']"
								},
								"sink": {
									"name": "Status",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['TransactionAmountDC']"
								},
								"sink": {
									"name": "TransactionAmountDC",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['TransactionAmountFC']"
								},
								"sink": {
									"name": "TransactionAmountFC",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['TransactionDueDate']"
								},
								"sink": {
									"name": "TransactionDueDate",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['TransactionEntryID']"
								},
								"sink": {
									"name": "TransactionEntryID",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['TransactionID']"
								},
								"sink": {
									"name": "TransactionID",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['TransactionIsReversal']"
								},
								"sink": {
									"name": "TransactionIsReversal",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['TransactionReportingPeriod']"
								},
								"sink": {
									"name": "TransactionReportingPeriod",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['TransactionReportingYear']"
								},
								"sink": {
									"name": "TransactionReportingYear",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['TransactionStatus']"
								},
								"sink": {
									"name": "TransactionStatus",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['TransactionType']"
								},
								"sink": {
									"name": "TransactionType",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['YourRef']"
								},
								"sink": {
									"name": "YourRef",
									"type": "String"
								}
							}
						],
						"collectionReference": "$['d']['results']"
					}
				},
				"inputs": [
					{
						"referenceName": "DS_EOL_RECEIVABLES",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_BonvueSQL_Receivables",
						"type": "DatasetReference"
					}
				]
			}
		],
		"annotations": [],
		"lastPublishTime": "2021-05-24T09:46:00Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}