pipeline/LoadOALRestAPI.json
{
	"name": "LoadOALRestAPI",
	"properties": {
		"activities": [
			{
				"name": "GetEOLBearerToken",
				"type": "AzureFunctionActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": "GetBearerToken",
					"method": "GET"
				},
				"linkedServiceName": {
					"referenceName": "BonvueExactFunctions",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Copy  CostCenters",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy AgingPayableList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "/api/v1//hrm/Costcenters"
					},
					{
						"name": "Destination",
						"value": "CostCenters."
					}
				],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Authorization": {
								"value": "Bearer @{activity('GetEOLBearerToken').output.Response}",
								"type": "Expression"
							}
						},
						"paginationRules": {
							"AbsoluteUrl": "$.d.__next"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "TRUNCATE TABLE CostCenters",
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "['Active']"
								},
								"sink": {
									"name": "Active",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Code']"
								},
								"sink": {
									"name": "Code",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Created']"
								},
								"sink": {
									"name": "Created",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Creator']"
								},
								"sink": {
									"name": "Creator",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['CreatorFullName']"
								},
								"sink": {
									"name": "CreatorFullName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Description']"
								},
								"sink": {
									"name": "Description",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Division']"
								},
								"sink": {
									"name": "Division",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['EndDate']"
								},
								"sink": {
									"name": "EndDate",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['ID']"
								},
								"sink": {
									"name": "ID",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Modified']"
								},
								"sink": {
									"name": "Modified",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Modifier']"
								},
								"sink": {
									"name": "Modifier",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['ModifierFullName']"
								},
								"sink": {
									"name": "ModifierFullName",
									"type": "String"
								}
							}
						],
						"collectionReference": "$['d']['results']",
						"mapComplexValuesToString": false
					}
				},
				"inputs": [
					{
						"referenceName": "DS_EOL_COSTCENTERS",
						"type": "DatasetReference",
						"parameters": {
							"division": "2928333"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_BonvueSQL_CostCenters",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy GLAccounts",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy GLAccountClassificationMappings",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Authorization": {
								"value": "Bearer @{activity('GetEOLBearerToken').output.Response}",
								"type": "Expression"
							}
						},
						"paginationRules": {
							"AbsoluteUrl": "$.d.__next"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "TRUNCATE TABLE GLACCOUNTS",
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "['ID']"
								},
								"sink": {
									"name": "ID",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['AssimilatedVATBox']"
								},
								"sink": {
									"name": "AssimilatedVATBox",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['BalanceSide']"
								},
								"sink": {
									"name": "BalanceSide",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['BalanceType']"
								},
								"sink": {
									"name": "BalanceType",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['BelcotaxType']"
								},
								"sink": {
									"name": "BelcotaxType",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Code']"
								},
								"sink": {
									"name": "Code",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Compress']"
								},
								"sink": {
									"name": "Compress",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Costcenter']"
								},
								"sink": {
									"name": "Costcenter",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['CostcenterDescription']"
								},
								"sink": {
									"name": "CostcenterDescription",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Costunit']"
								},
								"sink": {
									"name": "Costunit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['CostunitDescription']"
								},
								"sink": {
									"name": "CostunitDescription",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Created']"
								},
								"sink": {
									"name": "Created",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Creator']"
								},
								"sink": {
									"name": "Creator",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['CreatorFullName']"
								},
								"sink": {
									"name": "CreatorFullName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Description']"
								},
								"sink": {
									"name": "Description",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Division']"
								},
								"sink": {
									"name": "Division",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['ExcludeVATListing']"
								},
								"sink": {
									"name": "ExcludeVATListing",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['ExpenseNonDeductiblePercentage']"
								},
								"sink": {
									"name": "ExpenseNonDeductiblePercentage",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['IsBlocked']"
								},
								"sink": {
									"name": "IsBlocked",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Matching']"
								},
								"sink": {
									"name": "Matching",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Modified']"
								},
								"sink": {
									"name": "Modified",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Modifier']"
								},
								"sink": {
									"name": "Modifier",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['PrivateGLAccount']"
								},
								"sink": {
									"name": "PrivateGLAccount",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['PrivatePercentage']"
								},
								"sink": {
									"name": "PrivatePercentage",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['ReportingCode']"
								},
								"sink": {
									"name": "ReportingCode",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['RevalueCurrency']"
								},
								"sink": {
									"name": "RevalueCurrency",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['SearchCode']"
								},
								"sink": {
									"name": "SearchCode",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Type']"
								},
								"sink": {
									"name": "Type",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['TypeDescription']"
								},
								"sink": {
									"name": "TypeDescription",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['UseCostcenter']"
								},
								"sink": {
									"name": "UseCostcenter",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['UseCostunit']"
								},
								"sink": {
									"name": "UseCostunit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['VATCode']"
								},
								"sink": {
									"name": "VATCode",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['VATDescription']"
								},
								"sink": {
									"name": "VATDescription",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['VATGLAccountType']"
								},
								"sink": {
									"name": "VATGLAccountType",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['VATNonDeductibleGLAccount']"
								},
								"sink": {
									"name": "VATNonDeductibleGLAccount",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['VATNonDeductiblePercentage']"
								},
								"sink": {
									"name": "VATNonDeductiblePercentage",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['VATSystem']"
								},
								"sink": {
									"name": "VATSystem",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['YearEndCostGLAccount']"
								},
								"sink": {
									"name": "YearEndCostGLAccount",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['YearEndReflectionGLAccount']"
								},
								"sink": {
									"name": "YearEndReflectionGLAccount",
									"type": "String"
								}
							}
						],
						"collectionReference": "$['d']['results']",
						"mapComplexValuesToString": true
					}
				},
				"inputs": [
					{
						"referenceName": "DS_EOL_GLACCOUNTS",
						"type": "DatasetReference",
						"parameters": {
							"division": "2928333"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_BonvueSQL_GLAccounts",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy GLAccountClassificationMappings",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy  CostCenters",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Authorization": {
								"value": "Bearer @{activity('GetEOLBearerToken').output.Response}",
								"type": "Expression"
							}
						},
						"paginationRules": {
							"AbsoluteUrl": "$.d.__next"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "TRUNCATE TABLE GLAccountClassificationMappings",
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "['Classification']"
								},
								"sink": {
									"name": "Classification",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['ClassificationCode']"
								},
								"sink": {
									"name": "ClassificationCode",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['ClassificationDescription']"
								},
								"sink": {
									"name": "ClassificationDescription",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Division']"
								},
								"sink": {
									"name": "Division",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['GLAccount']"
								},
								"sink": {
									"name": "GLAccount",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['GLAccountCode']"
								},
								"sink": {
									"name": "GLAccountCode",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['GLAccountDescription']"
								},
								"sink": {
									"name": "GLAccountDescription",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['GLSchemeCode']"
								},
								"sink": {
									"name": "GLSchemeCode",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['GLSchemeDescription']"
								},
								"sink": {
									"name": "GLSchemeDescription",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['GLSchemeID']"
								},
								"sink": {
									"name": "GLSchemeID",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['ID']"
								},
								"sink": {
									"name": "ID",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['__next']"
								},
								"sink": {
									"name": "__next"
								}
							}
						],
						"collectionReference": "$['d']['results']"
					}
				},
				"inputs": [
					{
						"referenceName": "DS_EOL_GLACCOUNTCLASSIFICATIONMAPPINGS",
						"type": "DatasetReference",
						"parameters": {
							"division": "2928333"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_BonvueSQL_GLAccountClassificationMappings",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy AgingPayableList",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "GetEOLBearerToken",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Authorization": {
								"value": "Bearer @{activity('GetEOLBearerToken').output.Response}",
								"type": "Expression"
							}
						},
						"paginationRules": {
							"AbsoluteUrl": "$.d.__next"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "TRUNCATE TABLE agingpayablelist",
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "['AccountId']"
								},
								"sink": {
									"name": "AccountId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['AccountCode']"
								},
								"sink": {
									"name": "AccountCode",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['AccountName']"
								},
								"sink": {
									"name": "AccountName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['TotalAmount']"
								},
								"sink": {
									"name": "TotalAmount",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['AgeGroup1']"
								},
								"sink": {
									"name": "AgeGroup1",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['AgeGroup1Description']"
								},
								"sink": {
									"name": "AgeGroup1Description",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['AgeGroup1Amount']"
								},
								"sink": {
									"name": "AgeGroup1Amount",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['AgeGroup2']"
								},
								"sink": {
									"name": "AgeGroup2",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['AgeGroup2Description']"
								},
								"sink": {
									"name": "AgeGroup2Description",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['AgeGroup2Amount']"
								},
								"sink": {
									"name": "AgeGroup2Amount",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['AgeGroup3']"
								},
								"sink": {
									"name": "AgeGroup3",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['AgeGroup3Description']"
								},
								"sink": {
									"name": "AgeGroup3Description",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['AgeGroup3Amount']"
								},
								"sink": {
									"name": "AgeGroup3Amount",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['AgeGroup4']"
								},
								"sink": {
									"name": "AgeGroup4",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['AgeGroup4Description']"
								},
								"sink": {
									"name": "AgeGroup4Description",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['AgeGroup4Amount']"
								},
								"sink": {
									"name": "AgeGroup4Amount",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['CurrencyCode']"
								},
								"sink": {
									"name": "CurrencyCode",
									"type": "String"
								}
							}
						],
						"collectionReference": "$['d']['results']"
					}
				},
				"inputs": [
					{
						"referenceName": "DS_EOL_AGINGPAYABLESLIST",
						"type": "DatasetReference",
						"parameters": {
							"division": "2928333"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_BonvueSQL_AgingPayableList",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy BankEntries",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy  CostCenters",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Authorization": {
								"value": "Bearer @{activity('GetEOLBearerToken').output.Response}",
								"type": "Expression"
							}
						},
						"paginationRules": {
							"AbsoluteUrl": "$.d.__next"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['d']['results'][0]['ClosingBalanceFC']"
								},
								"sink": {
									"name": "ClosingBalanceFC",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Created']"
								},
								"sink": {
									"name": "Created",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Currency']"
								},
								"sink": {
									"name": "Currency",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Division']"
								},
								"sink": {
									"name": "Division",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['EntryID']"
								},
								"sink": {
									"name": "EntryID",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['EntryNumber']"
								},
								"sink": {
									"name": "EntryNumber",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['FinancialPeriod']"
								},
								"sink": {
									"name": "FinancialPeriod",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['FinancialYear']"
								},
								"sink": {
									"name": "FinancialYear",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['JournalCode']"
								},
								"sink": {
									"name": "JournalCode",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['JournalDescription']"
								},
								"sink": {
									"name": "JournalDescription",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Modified']"
								},
								"sink": {
									"name": "Modified",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['OpeningBalanceFC']"
								},
								"sink": {
									"name": "OpeningBalanceFC",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Status']"
								},
								"sink": {
									"name": "Status",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['StatusDescription']"
								},
								"sink": {
									"name": "StatusDescription",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['BankStatementDocument']"
								},
								"sink": {
									"name": "BankStatementDocument",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['BankStatementDocumentNumber']"
								},
								"sink": {
									"name": "BankStatementDocumentNumber",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['BankStatementDocumentSubject']"
								},
								"sink": {
									"name": "BankStatementDocumentSubject",
									"type": "String"
								}
							}
						],
						"collectionReference": "",
						"mapComplexValuesToString": true
					}
				},
				"inputs": [
					{
						"referenceName": "DS_EOL_BANKENTRIES",
						"type": "DatasetReference",
						"parameters": {
							"division": "2928333"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_BonvueSQL_BankEntries",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy GLClassifications",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy GLAccounts",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Authorization": {
								"value": "Bearer @{activity('GetEOLBearerToken').output.Response}",
								"type": "Expression"
							}
						},
						"paginationRules": {
							"AbsoluteUrl": "$.d.__next"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "TRUNCATE TABLE GLCLASSIFICATIONS",
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "['ID']"
								},
								"sink": {
									"name": "ID",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Abstract']"
								},
								"sink": {
									"name": "Abstract",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Balance']"
								},
								"sink": {
									"name": "Balance",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Code']"
								},
								"sink": {
									"name": "Code",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Created']"
								},
								"sink": {
									"name": "Created",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['CreatorFullName']"
								},
								"sink": {
									"name": "CreatorFullName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Description']"
								},
								"sink": {
									"name": "Description",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Division']"
								},
								"sink": {
									"name": "Division",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['IsTupleSubElement']"
								},
								"sink": {
									"name": "IsTupleSubElement",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Modified']"
								},
								"sink": {
									"name": "Modified",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Modifier']"
								},
								"sink": {
									"name": "Modifier",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['ModifierFullName']"
								},
								"sink": {
									"name": "ModifierFullName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Name']"
								},
								"sink": {
									"name": "Name",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['PeriodType']"
								},
								"sink": {
									"name": "PeriodType",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['SubstitutionGroup']"
								},
								"sink": {
									"name": "SubstitutionGroup",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['TaxonomyNamespaceDescription']"
								},
								"sink": {
									"name": "TaxonomyNamespaceDescription",
									"type": "String"
								}
							}
						],
						"collectionReference": "$['d']['results']"
					}
				},
				"inputs": [
					{
						"referenceName": "DS_EOL_GLCLASSIFICATIONS",
						"type": "DatasetReference",
						"parameters": {
							"division": "2928333"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_BonvueSQL_GLClassifications",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy Payments",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy GLClassifications",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Authorization": {
								"value": "Bearer @{activity('GetEOLBearerToken').output.Response}",
								"type": "Expression"
							}
						},
						"paginationRules": {
							"AbsoluteUrl": "$.d.__next"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "TRUNCATE TABLE PAYMENTS",
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['d']['results'][0]['ID']"
								},
								"sink": {
									"name": "ID",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Account']"
								},
								"sink": {
									"name": "Account",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['AccountBankAccountID']"
								},
								"sink": {
									"name": "AccountBankAccountID",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['AccountBankAccountNumber']"
								},
								"sink": {
									"name": "AccountBankAccountNumber",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['AccountCode']"
								},
								"sink": {
									"name": "AccountCode",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['AccountContact']"
								},
								"sink": {
									"name": "AccountContact",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['AccountContactName']"
								},
								"sink": {
									"name": "AccountContactName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['AccountName']"
								},
								"sink": {
									"name": "AccountName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['AmountDC']"
								},
								"sink": {
									"name": "AmountDC",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['AmountDiscountDC']"
								},
								"sink": {
									"name": "AmountDiscountDC",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['AmountFC']"
								},
								"sink": {
									"name": "AmountFC",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['AmountDiscountFC']"
								},
								"sink": {
									"name": "AmountDiscountFC",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['BankAccountID']"
								},
								"sink": {
									"name": "BankAccountID",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['BankAccountNumber']"
								},
								"sink": {
									"name": "BankAccountNumber",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['CashflowTransactionBatchCode']"
								},
								"sink": {
									"name": "CashflowTransactionBatchCode",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Created']"
								},
								"sink": {
									"name": "Created",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['CreatorFullName']"
								},
								"sink": {
									"name": "CreatorFullName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Currency']"
								},
								"sink": {
									"name": "Currency",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Description']"
								},
								"sink": {
									"name": "Description",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['DiscountDueDate']"
								},
								"sink": {
									"name": "DiscountDueDate",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Division']"
								},
								"sink": {
									"name": "Division",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Document']"
								},
								"sink": {
									"name": "Document",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['DocumentNumber']"
								},
								"sink": {
									"name": "DocumentNumber",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['DocumentSubject']"
								},
								"sink": {
									"name": "DocumentSubject",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['DueDate']"
								},
								"sink": {
									"name": "DueDate",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['EndDate']"
								},
								"sink": {
									"name": "EndDate",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['EndPeriod']"
								},
								"sink": {
									"name": "EndPeriod",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['EndYear']"
								},
								"sink": {
									"name": "EndYear",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['EntryDate']"
								},
								"sink": {
									"name": "EntryDate",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['EntryID']"
								},
								"sink": {
									"name": "EntryID",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['EntryNumber']"
								},
								"sink": {
									"name": "EntryNumber",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['GLAccount']"
								},
								"sink": {
									"name": "GLAccount",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['GLAccountCode']"
								},
								"sink": {
									"name": "GLAccountCode",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['GLAccountDescription']"
								},
								"sink": {
									"name": "GLAccountDescription",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['InvoiceDate']"
								},
								"sink": {
									"name": "InvoiceDate",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['InvoiceNumber']"
								},
								"sink": {
									"name": "InvoiceNumber",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['IsBatchBooking']"
								},
								"sink": {
									"name": "IsBatchBooking",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Journal']"
								},
								"sink": {
									"name": "Journal",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['JournalDescription']"
								},
								"sink": {
									"name": "JournalDescription",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Modified']"
								},
								"sink": {
									"name": "Modified",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['ModifierFullName']"
								},
								"sink": {
									"name": "ModifierFullName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['PaymentSelected']"
								},
								"sink": {
									"name": "PaymentSelected",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['PaymentSelector']"
								},
								"sink": {
									"name": "PaymentSelector",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['PaymentSelectorFullName']"
								},
								"sink": {
									"name": "PaymentSelectorFullName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['PaymentBatchNumber']"
								},
								"sink": {
									"name": "PaymentBatchNumber",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['PaymentCondition']"
								},
								"sink": {
									"name": "PaymentCondition",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['PaymentConditionDescription']"
								},
								"sink": {
									"name": "PaymentConditionDescription",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['PaymentDays']"
								},
								"sink": {
									"name": "PaymentDays",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['PaymentDaysDiscount']"
								},
								"sink": {
									"name": "PaymentDaysDiscount",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['PaymentDiscountPercentage']"
								},
								"sink": {
									"name": "PaymentDiscountPercentage",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['PaymentMethod']"
								},
								"sink": {
									"name": "PaymentMethod",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['PaymentReference']"
								},
								"sink": {
									"name": "PaymentReference",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['RateFC']"
								},
								"sink": {
									"name": "RateFC",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Source']"
								},
								"sink": {
									"name": "Source",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Status']"
								},
								"sink": {
									"name": "Status",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['TransactionAmountDC']"
								},
								"sink": {
									"name": "TransactionAmountDC",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['TransactionAmountFC']"
								},
								"sink": {
									"name": "TransactionAmountFC",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['TransactionDueDate']"
								},
								"sink": {
									"name": "TransactionDueDate",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['TransactionEntryID']"
								},
								"sink": {
									"name": "TransactionEntryID",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['TransactionID']"
								},
								"sink": {
									"name": "TransactionID",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['TransactionIsReversal']"
								},
								"sink": {
									"name": "TransactionIsReversal",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['TransactionReportingPeriod']"
								},
								"sink": {
									"name": "TransactionReportingPeriod",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['TransactionReportingYear']"
								},
								"sink": {
									"name": "TransactionReportingYear",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['TransactionStatus']"
								},
								"sink": {
									"name": "TransactionStatus",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['TransactionType']"
								},
								"sink": {
									"name": "TransactionType",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['YourRef']"
								},
								"sink": {
									"name": "YourRef",
									"type": "String"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "DS_EOL_PAYMENTS",
						"type": "DatasetReference",
						"parameters": {
							"division": "2928333"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_BonvueSQL_Payments",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy PurchasEntreis",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy Payments",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Authorization": {
								"value": "Bearer @{activity('GetEOLBearerToken').output.Response}",
								"type": "Expression"
							}
						},
						"paginationRules": {
							"AbsoluteUrl": "$.d.__next"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "TRUNCATE TABLE PURCHASEENTRIES",
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['d']['results'][0]['AmountDC']"
								},
								"sink": {
									"name": "AmountDC",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['AmountFC']"
								},
								"sink": {
									"name": "AmountFC",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['BatchNumber']"
								},
								"sink": {
									"name": "BatchNumber",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Created']"
								},
								"sink": {
									"name": "Created",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['CreatorFullName']"
								},
								"sink": {
									"name": "CreatorFullName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Currency']"
								},
								"sink": {
									"name": "Currency",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Supplier']"
								},
								"sink": {
									"name": "Supplier",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['SupplierName']"
								},
								"sink": {
									"name": "SupplierName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Description']"
								},
								"sink": {
									"name": "Description",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Division']"
								},
								"sink": {
									"name": "Division",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Document']"
								},
								"sink": {
									"name": "Document",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['DocumentNumber']"
								},
								"sink": {
									"name": "DocumentNumber",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['DocumentSubject']"
								},
								"sink": {
									"name": "DocumentSubject",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['DueDate']"
								},
								"sink": {
									"name": "DueDate",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['EntryDate']"
								},
								"sink": {
									"name": "EntryDate",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['EntryID']"
								},
								"sink": {
									"name": "EntryID",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['EntryNumber']"
								},
								"sink": {
									"name": "EntryNumber",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['ExternalLinkDescription']"
								},
								"sink": {
									"name": "ExternalLinkDescription",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['ExternalLinkReference']"
								},
								"sink": {
									"name": "ExternalLinkReference",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['GAccountAmountFC']"
								},
								"sink": {
									"name": "GAccountAmountFC",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['InvoiceNumber']"
								},
								"sink": {
									"name": "InvoiceNumber",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Journal']"
								},
								"sink": {
									"name": "Journal",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['JournalDescription']"
								},
								"sink": {
									"name": "JournalDescription",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Modified']"
								},
								"sink": {
									"name": "Modified",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['ModifierFullName']"
								},
								"sink": {
									"name": "ModifierFullName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['OrderNumber']"
								},
								"sink": {
									"name": "OrderNumber",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['PaymentCondition']"
								},
								"sink": {
									"name": "PaymentCondition",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['PaymentConditionDescription']"
								},
								"sink": {
									"name": "PaymentConditionDescription",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['PaymentReference']"
								},
								"sink": {
									"name": "PaymentReference",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['ProcessNumber']"
								},
								"sink": {
									"name": "ProcessNumber",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Rate']"
								},
								"sink": {
									"name": "Rate",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['ReportingYear']"
								},
								"sink": {
									"name": "ReportingYear",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['ReportingPeriod']"
								},
								"sink": {
									"name": "ReportingPeriod",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Reversal']"
								},
								"sink": {
									"name": "Reversal",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Status']"
								},
								"sink": {
									"name": "Status",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['StatusDescription']"
								},
								"sink": {
									"name": "StatusDescription",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Type']"
								},
								"sink": {
									"name": "Type",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['TypeDescription']"
								},
								"sink": {
									"name": "TypeDescription",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['VATAmountDC']"
								},
								"sink": {
									"name": "VATAmountDC",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['VATAmountFC']"
								},
								"sink": {
									"name": "VATAmountFC",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['YourRef']"
								},
								"sink": {
									"name": "YourRef",
									"type": "String"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "DS_EOL_PURCHASEENTRIES",
						"type": "DatasetReference",
						"parameters": {
							"division": "2928333"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_BonvueSQL_PurchaseEntries",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy Receivables",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy PurchasEntreis",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Authorization": {
								"value": "Bearer @{activity('GetEOLBearerToken').output.Response}",
								"type": "Expression"
							}
						},
						"paginationRules": {
							"AbsoluteUrl": "$.d.__next"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "TRUNCATE TABLE RECEIVABLES",
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "['ID']"
								},
								"sink": {
									"name": "ID",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Account']"
								},
								"sink": {
									"name": "Account",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['AccountBankAccountID']"
								},
								"sink": {
									"name": "AccountBankAccountID",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['AccountBankAccountNumber']"
								},
								"sink": {
									"name": "AccountBankAccountNumber",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['AccountCode']"
								},
								"sink": {
									"name": "AccountCode",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['AccountContact']"
								},
								"sink": {
									"name": "AccountContact",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['AccountContactName']"
								},
								"sink": {
									"name": "AccountContactName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['AccountName']"
								},
								"sink": {
									"name": "AccountName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['AccountCountry']"
								},
								"sink": {
									"name": "AccountCountry",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['AmountDC']"
								},
								"sink": {
									"name": "AmountDC",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['AmountDiscountDC']"
								},
								"sink": {
									"name": "AmountDiscountDC",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['AmountFC']"
								},
								"sink": {
									"name": "AmountFC",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['AmountDiscountFC']"
								},
								"sink": {
									"name": "AmountDiscountFC",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['BankAccountID']"
								},
								"sink": {
									"name": "BankAccountID",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['BankAccountNumber']"
								},
								"sink": {
									"name": "BankAccountNumber",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['CashflowTransactionBatchCode']"
								},
								"sink": {
									"name": "CashflowTransactionBatchCode",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Created']"
								},
								"sink": {
									"name": "Created",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['CreatorFullName']"
								},
								"sink": {
									"name": "CreatorFullName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Currency']"
								},
								"sink": {
									"name": "Currency",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Description']"
								},
								"sink": {
									"name": "Description",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['DirectDebitMandate']"
								},
								"sink": {
									"name": "DirectDebitMandate",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['DirectDebitMandateDescription']"
								},
								"sink": {
									"name": "DirectDebitMandateDescription",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['DirectDebitMandatePaymentType']"
								},
								"sink": {
									"name": "DirectDebitMandatePaymentType",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['DirectDebitMandateReference']"
								},
								"sink": {
									"name": "DirectDebitMandateReference",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['DirectDebitMandateType']"
								},
								"sink": {
									"name": "DirectDebitMandateType",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['DiscountDueDate']"
								},
								"sink": {
									"name": "DiscountDueDate",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Division']"
								},
								"sink": {
									"name": "Division",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Document']"
								},
								"sink": {
									"name": "Document",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['DocumentNumber']"
								},
								"sink": {
									"name": "DocumentNumber",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['DocumentSubject']"
								},
								"sink": {
									"name": "DocumentSubject",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['DueDate']"
								},
								"sink": {
									"name": "DueDate",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['EndDate']"
								},
								"sink": {
									"name": "EndDate",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['EndPeriod']"
								},
								"sink": {
									"name": "EndPeriod",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['EndToEndID']"
								},
								"sink": {
									"name": "EndToEndID",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['EndYear']"
								},
								"sink": {
									"name": "EndYear",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['EntryDate']"
								},
								"sink": {
									"name": "EntryDate",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['EntryID']"
								},
								"sink": {
									"name": "EntryID",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['EntryNumber']"
								},
								"sink": {
									"name": "EntryNumber",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['GLAccountCode']"
								},
								"sink": {
									"name": "GLAccountCode",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['GLAccountDescription']"
								},
								"sink": {
									"name": "GLAccountDescription",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['InvoiceDate']"
								},
								"sink": {
									"name": "InvoiceDate",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['InvoiceNumber']"
								},
								"sink": {
									"name": "InvoiceNumber",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['IsBatchBooking']"
								},
								"sink": {
									"name": "IsBatchBooking",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['IsFullyPaid']"
								},
								"sink": {
									"name": "IsFullyPaid",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Journal']"
								},
								"sink": {
									"name": "Journal",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['JournalDescription']"
								},
								"sink": {
									"name": "JournalDescription",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['LastPaymentDate']"
								},
								"sink": {
									"name": "LastPaymentDate",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Modified']"
								},
								"sink": {
									"name": "Modified",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['ModifierFullName']"
								},
								"sink": {
									"name": "ModifierFullName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['PaymentCondition']"
								},
								"sink": {
									"name": "PaymentCondition",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['PaymentConditionDescription']"
								},
								"sink": {
									"name": "PaymentConditionDescription",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['PaymentDays']"
								},
								"sink": {
									"name": "PaymentDays",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['PaymentDaysDiscount']"
								},
								"sink": {
									"name": "PaymentDaysDiscount",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['PaymentDiscountPercentage']"
								},
								"sink": {
									"name": "PaymentDiscountPercentage",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['PaymentInformationID']"
								},
								"sink": {
									"name": "PaymentInformationID",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['PaymentMethod']"
								},
								"sink": {
									"name": "PaymentMethod",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['PaymentReference']"
								},
								"sink": {
									"name": "PaymentReference",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['RateFC']"
								},
								"sink": {
									"name": "RateFC",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['ReceivableSelected']"
								},
								"sink": {
									"name": "ReceivableSelected",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['ReceivableSelector']"
								},
								"sink": {
									"name": "ReceivableSelector",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['ReceivableSelectorFullName']"
								},
								"sink": {
									"name": "ReceivableSelectorFullName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['ReceivableBatchNumber']"
								},
								"sink": {
									"name": "ReceivableBatchNumber",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Source']"
								},
								"sink": {
									"name": "Source",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['Status']"
								},
								"sink": {
									"name": "Status",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['TransactionAmountDC']"
								},
								"sink": {
									"name": "TransactionAmountDC",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['TransactionAmountFC']"
								},
								"sink": {
									"name": "TransactionAmountFC",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['TransactionDueDate']"
								},
								"sink": {
									"name": "TransactionDueDate",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['TransactionEntryID']"
								},
								"sink": {
									"name": "TransactionEntryID",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['TransactionID']"
								},
								"sink": {
									"name": "TransactionID",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['TransactionIsReversal']"
								},
								"sink": {
									"name": "TransactionIsReversal",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['TransactionReportingPeriod']"
								},
								"sink": {
									"name": "TransactionReportingPeriod",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['TransactionReportingYear']"
								},
								"sink": {
									"name": "TransactionReportingYear",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['TransactionStatus']"
								},
								"sink": {
									"name": "TransactionStatus",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['TransactionType']"
								},
								"sink": {
									"name": "TransactionType",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['YourRef']"
								},
								"sink": {
									"name": "YourRef",
									"type": "String"
								}
							}
						],
						"collectionReference": "$['d']['results']"
					}
				},
				"inputs": [
					{
						"referenceName": "DS_EOL_RECEIVABLES",
						"type": "DatasetReference",
						"parameters": {
							"division": "2928333"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_BonvueSQL_Receivables",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy Accounts",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy Receivables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Authorization": {
								"value": "Bearer @{activity('GetEOLBearerToken').output.Response}",
								"type": "Expression"
							}
						},
						"paginationRules": {
							"AbsoluteUrl": "$.d.__next"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "TRUNCATE TABLE Accounts",
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['d']['results'][0]['ID']"
								},
								"sink": {
									"name": "ID",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Accountant']"
								},
								"sink": {
									"name": "Accountant",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['AccountManager']"
								},
								"sink": {
									"name": "AccountManager",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['AccountManagerFullName']"
								},
								"sink": {
									"name": "AccountManagerFullName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['AccountManagerHID']"
								},
								"sink": {
									"name": "AccountManagerHID",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['ActivitySector']"
								},
								"sink": {
									"name": "ActivitySector",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['ActivitySubSector']"
								},
								"sink": {
									"name": "ActivitySubSector",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['AddressLine1']"
								},
								"sink": {
									"name": "AddressLine1",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['AddressLine2']"
								},
								"sink": {
									"name": "AddressLine2",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['AddressLine3']"
								},
								"sink": {
									"name": "AddressLine3",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Blocked']"
								},
								"sink": {
									"name": "Blocked",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['BRIN']"
								},
								"sink": {
									"name": "BRIN",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['BSN']"
								},
								"sink": {
									"name": "BSN",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['BusinessType']"
								},
								"sink": {
									"name": "BusinessType",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['CanDropShip']"
								},
								"sink": {
									"name": "CanDropShip",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['ChamberOfCommerce']"
								},
								"sink": {
									"name": "ChamberOfCommerce",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['City']"
								},
								"sink": {
									"name": "City",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Classification']"
								},
								"sink": {
									"name": "Classification",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Classification1']"
								},
								"sink": {
									"name": "Classification1",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Classification2']"
								},
								"sink": {
									"name": "Classification2",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Classification3']"
								},
								"sink": {
									"name": "Classification3",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Classification4']"
								},
								"sink": {
									"name": "Classification4",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Classification5']"
								},
								"sink": {
									"name": "Classification5",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Classification6']"
								},
								"sink": {
									"name": "Classification6",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Classification7']"
								},
								"sink": {
									"name": "Classification7",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Classification8']"
								},
								"sink": {
									"name": "Classification8",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['ClassificationDescription']"
								},
								"sink": {
									"name": "ClassificationDescription",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Code']"
								},
								"sink": {
									"name": "Code",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['CodeAtSupplier']"
								},
								"sink": {
									"name": "CodeAtSupplier",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['CompanySize']"
								},
								"sink": {
									"name": "CompanySize",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['ConsolidationScenario']"
								},
								"sink": {
									"name": "ConsolidationScenario",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['ControlledDate']"
								},
								"sink": {
									"name": "ControlledDate",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Costcenter']"
								},
								"sink": {
									"name": "Costcenter",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['CostcenterDescription']"
								},
								"sink": {
									"name": "CostcenterDescription",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['CostPaid']"
								},
								"sink": {
									"name": "CostPaid",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Country']"
								},
								"sink": {
									"name": "Country",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['CountryName']"
								},
								"sink": {
									"name": "CountryName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Created']"
								},
								"sink": {
									"name": "Created",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Creator']"
								},
								"sink": {
									"name": "Creator",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['CreatorFullName']"
								},
								"sink": {
									"name": "CreatorFullName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['CreditLinePurchase']"
								},
								"sink": {
									"name": "CreditLinePurchase",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['CreditLineSales']"
								},
								"sink": {
									"name": "CreditLineSales",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Currency']"
								},
								"sink": {
									"name": "Currency",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['CustomerSince']"
								},
								"sink": {
									"name": "CustomerSince",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['DatevCreditorCode']"
								},
								"sink": {
									"name": "DatevCreditorCode",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['DatevDebtorCode']"
								},
								"sink": {
									"name": "DatevDebtorCode",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['DiscountPurchase']"
								},
								"sink": {
									"name": "DiscountPurchase",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['DiscountSales']"
								},
								"sink": {
									"name": "DiscountSales",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Division']"
								},
								"sink": {
									"name": "Division",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Document']"
								},
								"sink": {
									"name": "Document",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['DunsNumber']"
								},
								"sink": {
									"name": "DunsNumber",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Email']"
								},
								"sink": {
									"name": "Email",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['EndDate']"
								},
								"sink": {
									"name": "EndDate",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['EstablishedDate']"
								},
								"sink": {
									"name": "EstablishedDate",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Fax']"
								},
								"sink": {
									"name": "Fax",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['GLAccountPurchase']"
								},
								"sink": {
									"name": "GLAccountPurchase",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['GLAccountSales']"
								},
								"sink": {
									"name": "GLAccountSales",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['GLAP']"
								},
								"sink": {
									"name": "GLAP",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['GLAR']"
								},
								"sink": {
									"name": "GLAR",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['GlnNumber']"
								},
								"sink": {
									"name": "GlnNumber",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['HasWithholdingTaxSales']"
								},
								"sink": {
									"name": "HasWithholdingTaxSales",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['IgnoreDatevWarningMessage']"
								},
								"sink": {
									"name": "IgnoreDatevWarningMessage",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['IntraStatArea']"
								},
								"sink": {
									"name": "IntraStatArea",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['IntraStatDeliveryTerm']"
								},
								"sink": {
									"name": "IntraStatDeliveryTerm",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['IntraStatSystem']"
								},
								"sink": {
									"name": "IntraStatSystem",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['IntraStatTransactionA']"
								},
								"sink": {
									"name": "IntraStatTransactionA",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['IntraStatTransactionB']"
								},
								"sink": {
									"name": "IntraStatTransactionB",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['IntraStatTransportMethod']"
								},
								"sink": {
									"name": "IntraStatTransportMethod",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['InvoiceAccount']"
								},
								"sink": {
									"name": "InvoiceAccount",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['InvoiceAccountCode']"
								},
								"sink": {
									"name": "InvoiceAccountCode",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['InvoiceAccountName']"
								},
								"sink": {
									"name": "InvoiceAccountName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['InvoiceAttachmentType']"
								},
								"sink": {
									"name": "InvoiceAttachmentType",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['InvoicingMethod']"
								},
								"sink": {
									"name": "InvoicingMethod",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['IsAccountant']"
								},
								"sink": {
									"name": "IsAccountant",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['IsAgency']"
								},
								"sink": {
									"name": "IsAgency",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['IsAnonymised']"
								},
								"sink": {
									"name": "IsAnonymised",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['IsBank']"
								},
								"sink": {
									"name": "IsBank",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['IsCompetitor']"
								},
								"sink": {
									"name": "IsCompetitor",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['IsExtraDuty']"
								},
								"sink": {
									"name": "IsExtraDuty",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['IsMailing']"
								},
								"sink": {
									"name": "IsMailing",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['IsMember']"
								},
								"sink": {
									"name": "IsMember",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['IsPilot']"
								},
								"sink": {
									"name": "IsPilot",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['IsPurchase']"
								},
								"sink": {
									"name": "IsPurchase",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['IsReseller']"
								},
								"sink": {
									"name": "IsReseller",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['IsSales']"
								},
								"sink": {
									"name": "IsSales",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['IsSupplier']"
								},
								"sink": {
									"name": "IsSupplier",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Language']"
								},
								"sink": {
									"name": "Language",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['LanguageDescription']"
								},
								"sink": {
									"name": "LanguageDescription",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Latitude']"
								},
								"sink": {
									"name": "Latitude",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['LeadSource']"
								},
								"sink": {
									"name": "LeadSource",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['LeadPurpose']"
								},
								"sink": {
									"name": "LeadPurpose",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['LogoFileName']"
								},
								"sink": {
									"name": "LogoFileName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['LogoThumbnailUrl']"
								},
								"sink": {
									"name": "LogoThumbnailUrl",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['LogoUrl']"
								},
								"sink": {
									"name": "LogoUrl",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Logo']"
								},
								"sink": {
									"name": "Logo",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Longitude']"
								},
								"sink": {
									"name": "Longitude",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['MainContact']"
								},
								"sink": {
									"name": "MainContact",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Modified']"
								},
								"sink": {
									"name": "Modified",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Modifier']"
								},
								"sink": {
									"name": "Modifier",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['ModifierFullName']"
								},
								"sink": {
									"name": "ModifierFullName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Name']"
								},
								"sink": {
									"name": "Name",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['OINNumber']"
								},
								"sink": {
									"name": "OINNumber",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Parent']"
								},
								"sink": {
									"name": "Parent",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['PaymentConditionPurchase']"
								},
								"sink": {
									"name": "PaymentConditionPurchase",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['PaymentConditionPurchaseDescription']"
								},
								"sink": {
									"name": "PaymentConditionPurchaseDescription",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['PaymentConditionSales']"
								},
								"sink": {
									"name": "PaymentConditionSales",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['PaymentConditionSalesDescription']"
								},
								"sink": {
									"name": "PaymentConditionSalesDescription",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['PayAsYouEarn']"
								},
								"sink": {
									"name": "PayAsYouEarn",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Phone']"
								},
								"sink": {
									"name": "Phone",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['PhoneExtension']"
								},
								"sink": {
									"name": "PhoneExtension",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Postcode']"
								},
								"sink": {
									"name": "Postcode",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['PriceList']"
								},
								"sink": {
									"name": "PriceList",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['PurchaseCurrency']"
								},
								"sink": {
									"name": "PurchaseCurrency",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['PurchaseCurrencyDescription']"
								},
								"sink": {
									"name": "PurchaseCurrencyDescription",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['PurchaseLeadDays']"
								},
								"sink": {
									"name": "PurchaseLeadDays",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['PurchaseVATCode']"
								},
								"sink": {
									"name": "PurchaseVATCode",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['PurchaseVATCodeDescription']"
								},
								"sink": {
									"name": "PurchaseVATCodeDescription",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Remarks']"
								},
								"sink": {
									"name": "Remarks",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['RecepientOfCommissions']"
								},
								"sink": {
									"name": "RecepientOfCommissions",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Reseller']"
								},
								"sink": {
									"name": "Reseller",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['ResellerCode']"
								},
								"sink": {
									"name": "ResellerCode",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['ResellerName']"
								},
								"sink": {
									"name": "ResellerName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['RSIN']"
								},
								"sink": {
									"name": "RSIN",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['SalesCurrency']"
								},
								"sink": {
									"name": "SalesCurrency",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['SalesCurrencyDescription']"
								},
								"sink": {
									"name": "SalesCurrencyDescription",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['SalesVATCode']"
								},
								"sink": {
									"name": "SalesVATCode",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['SalesVATCodeDescription']"
								},
								"sink": {
									"name": "SalesVATCodeDescription",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['SearchCode']"
								},
								"sink": {
									"name": "SearchCode",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['SecurityLevel']"
								},
								"sink": {
									"name": "SecurityLevel",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['SeparateInvPerSubscription']"
								},
								"sink": {
									"name": "SeparateInvPerSubscription",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['ShippingLeadDays']"
								},
								"sink": {
									"name": "ShippingLeadDays",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['ShippingMethod']"
								},
								"sink": {
									"name": "ShippingMethod",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['ShowRemarkForSales']"
								},
								"sink": {
									"name": "ShowRemarkForSales",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['StartDate']"
								},
								"sink": {
									"name": "StartDate",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['State']"
								},
								"sink": {
									"name": "State",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['StateName']"
								},
								"sink": {
									"name": "StateName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Status']"
								},
								"sink": {
									"name": "Status",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['StatusSince']"
								},
								"sink": {
									"name": "StatusSince",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['SalesTaxSchedule']"
								},
								"sink": {
									"name": "SalesTaxSchedule",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['SalesTaxScheduleCode']"
								},
								"sink": {
									"name": "SalesTaxScheduleCode",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['SalesTaxScheduleDescription']"
								},
								"sink": {
									"name": "SalesTaxScheduleDescription",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['TradeName']"
								},
								"sink": {
									"name": "TradeName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Type']"
								},
								"sink": {
									"name": "Type",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['UniqueTaxpayerReference']"
								},
								"sink": {
									"name": "UniqueTaxpayerReference",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['VATLiability']"
								},
								"sink": {
									"name": "VATLiability",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['VATNumber']"
								},
								"sink": {
									"name": "VATNumber",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Website']"
								},
								"sink": {
									"name": "Website",
									"type": "String"
								}
							}
						],
						"collectionReference": "",
						"mapComplexValuesToString": false
					}
				},
				"inputs": [
					{
						"referenceName": "DS_EOL_ACCOUNTS",
						"type": "DatasetReference",
						"parameters": {
							"division": "2928333"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_BonvueSQL_Accounts",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy AgingOverview",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy Accounts",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Authorization": {
								"value": "Bearer @{activity('GetEOLBearerToken').output.Response}",
								"type": "Expression"
							}
						},
						"paginationRules": {
							"AbsoluteUrl": "$.d.__next"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "TRUNCATE TABLE agingOverview",
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['d']['results'][0]['AgeGroup']"
								},
								"sink": {
									"name": "AgeGroup",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['AgeGroupDescription']"
								},
								"sink": {
									"name": "AgeGroupDescription",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['AmountReceivable']"
								},
								"sink": {
									"name": "AmountReceivable",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['AmountPayable']"
								},
								"sink": {
									"name": "AmountPayable",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['CurrencyCode']"
								},
								"sink": {
									"name": "CurrencyCode",
									"type": "String"
								}
							}
						],
						"collectionReference": ""
					}
				},
				"inputs": [
					{
						"referenceName": "DS_EOL_AGINGOVERVIEW",
						"type": "DatasetReference",
						"parameters": {
							"division": "2928333"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_BonvueSQL_AgingOverview",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy AssetGroups",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy BankAccounts",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Authorization": {
								"value": "Bearer @{activity('GetEOLBearerToken').output.Response}",
								"type": "Expression"
							}
						},
						"paginationRules": {
							"AbsoluteUrl": "$.d.__next"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "TRUNCATE TABLE AssetGroups",
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['d']['results'][0]"
								},
								"sink": {
									"name": "items"
								}
							}
						],
						"collectionReference": ""
					}
				},
				"inputs": [
					{
						"referenceName": "DS_EOL_ASSETSGROUPS",
						"type": "DatasetReference",
						"parameters": {
							"division": "2928333"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_BonvueSQL_AssetGroups",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy BankAccounts",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy AgingOverview",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Authorization": {
								"value": "Bearer @{activity('GetEOLBearerToken').output.Response}",
								"type": "Expression"
							}
						},
						"paginationRules": {
							"AbsoluteUrl": "$.d.__next"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "TRUNCATE TABLE BankAccounts",
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['d']['results'][0]['Account']"
								},
								"sink": {
									"name": "Account",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['AccountName']"
								},
								"sink": {
									"name": "AccountName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Bank']"
								},
								"sink": {
									"name": "Bank",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['BankAccount']"
								},
								"sink": {
									"name": "BankAccount",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['BankAccountHolderName']"
								},
								"sink": {
									"name": "BankAccountHolderName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['BankDescription']"
								},
								"sink": {
									"name": "BankDescription",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['BankName']"
								},
								"sink": {
									"name": "BankName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['BICCode']"
								},
								"sink": {
									"name": "BICCode",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Created']"
								},
								"sink": {
									"name": "Created",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Creator']"
								},
								"sink": {
									"name": "Creator",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['CreatorFullName']"
								},
								"sink": {
									"name": "CreatorFullName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Description']"
								},
								"sink": {
									"name": "Description",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Division']"
								},
								"sink": {
									"name": "Division",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Format']"
								},
								"sink": {
									"name": "Format",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['IBAN']"
								},
								"sink": {
									"name": "IBAN",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['ID']"
								},
								"sink": {
									"name": "ID",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Main']"
								},
								"sink": {
									"name": "Main",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Modified']"
								},
								"sink": {
									"name": "Modified",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Modifier']"
								},
								"sink": {
									"name": "Modifier",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['ModifierFullName']"
								},
								"sink": {
									"name": "ModifierFullName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['PaymentServiceAccount']"
								},
								"sink": {
									"name": "PaymentServiceAccount",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Type']"
								},
								"sink": {
									"name": "Type",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['TypeDescription']"
								},
								"sink": {
									"name": "TypeDescription",
									"type": "String"
								}
							}
						],
						"collectionReference": ""
					}
				},
				"inputs": [
					{
						"referenceName": "DS_EOL_BANKACCCOUNTS",
						"type": "DatasetReference",
						"parameters": {
							"division": "2928333"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_BonvueSQL_BankAccounts",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy BankEntryLines",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy  CostCenters",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Authorization": {
								"value": "Bearer @{activity('GetEOLBearerToken').output.Response}",
								"type": "Expression"
							}
						},
						"paginationRules": {
							"AbsoluteUrl": "$.d.__next"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['d']['results'][0]['Account']"
								},
								"sink": {
									"name": "Account",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['AccountCode']"
								},
								"sink": {
									"name": "AccountCode",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['AccountName']"
								},
								"sink": {
									"name": "AccountName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['AmountDC']"
								},
								"sink": {
									"name": "AmountDC",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['AmountFC']"
								},
								"sink": {
									"name": "AmountFC",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['AmountVATFC']"
								},
								"sink": {
									"name": "AmountVATFC",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Asset']"
								},
								"sink": {
									"name": "Asset",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['AssetCode']"
								},
								"sink": {
									"name": "AssetCode",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['AssetDescription']"
								},
								"sink": {
									"name": "AssetDescription",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['CostCenter']"
								},
								"sink": {
									"name": "CostCenter",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['CostCenterDescription']"
								},
								"sink": {
									"name": "CostCenterDescription",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['CostUnit']"
								},
								"sink": {
									"name": "CostUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['CostUnitDescription']"
								},
								"sink": {
									"name": "CostUnitDescription",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Created']"
								},
								"sink": {
									"name": "Created",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Creator']"
								},
								"sink": {
									"name": "Creator",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['CreatorFullName']"
								},
								"sink": {
									"name": "CreatorFullName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Description']"
								},
								"sink": {
									"name": "Description",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Division']"
								},
								"sink": {
									"name": "Division",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Document']"
								},
								"sink": {
									"name": "Document",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['DocumentNumber']"
								},
								"sink": {
									"name": "DocumentNumber",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['DocumentSubject']"
								},
								"sink": {
									"name": "DocumentSubject",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['EntryID']"
								},
								"sink": {
									"name": "EntryID",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['EntryNumber']"
								},
								"sink": {
									"name": "EntryNumber",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['ExchangeRate']"
								},
								"sink": {
									"name": "ExchangeRate",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['GLAccount']"
								},
								"sink": {
									"name": "GLAccount",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['GLAccountCode']"
								},
								"sink": {
									"name": "GLAccountCode",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['GLAccountDescription']"
								},
								"sink": {
									"name": "GLAccountDescription",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['ID']"
								},
								"sink": {
									"name": "ID",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['LineNumber']"
								},
								"sink": {
									"name": "LineNumber",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Modified']"
								},
								"sink": {
									"name": "Modified",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Modifier']"
								},
								"sink": {
									"name": "Modifier",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['ModifierFullName']"
								},
								"sink": {
									"name": "ModifierFullName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Notes']"
								},
								"sink": {
									"name": "Notes",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['OffsetID']"
								},
								"sink": {
									"name": "OffsetID",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['OurRef']"
								},
								"sink": {
									"name": "OurRef",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Project']"
								},
								"sink": {
									"name": "Project",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['ProjectCode']"
								},
								"sink": {
									"name": "ProjectCode",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['ProjectDescription']"
								},
								"sink": {
									"name": "ProjectDescription",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Quantity']"
								},
								"sink": {
									"name": "Quantity",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['VATCode']"
								},
								"sink": {
									"name": "VATCode",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['VATCodeDescription']"
								},
								"sink": {
									"name": "VATCodeDescription",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['VATPercentage']"
								},
								"sink": {
									"name": "VATPercentage",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['VATType']"
								},
								"sink": {
									"name": "VATType",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Date']"
								},
								"sink": {
									"name": "Date",
									"type": "String"
								}
							}
						],
						"collectionReference": "",
						"mapComplexValuesToString": true
					}
				},
				"inputs": [
					{
						"referenceName": "DS_EOL_BANKENTRYLINES",
						"type": "DatasetReference",
						"parameters": {
							"division": "2928333"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_BonvueSQL_BankEntryLines",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy Budgets",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy BankAccounts",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Authorization": {
								"value": "Bearer @{activity('GetEOLBearerToken').output.Response}",
								"type": "Expression"
							}
						},
						"paginationRules": {
							"AbsoluteUrl": "$.d.__next"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['d']['results']"
								},
								"sink": {
									"name": "items",
									"type": "String"
								}
							}
						],
						"collectionReference": "",
						"mapComplexValuesToString": true
					}
				},
				"inputs": [
					{
						"referenceName": "DS_EOL_BUDGETS",
						"type": "DatasetReference",
						"parameters": {
							"division": "2928333"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_BonvueSQL_Budgets",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy CurrentYear_AfterEntry",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy  CostCenters",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Authorization": {
								"value": "Bearer @{activity('GetEOLBearerToken').output.Response}",
								"type": "Expression"
							}
						},
						"paginationRules": {
							"AbsoluteUrl": "$.d.__next"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['d']['results'][0]['Amount']"
								},
								"sink": {
									"name": "Amount",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['BalanceSide']"
								},
								"sink": {
									"name": "BalanceSide",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Division']"
								},
								"sink": {
									"name": "Division",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['GLAccount']"
								},
								"sink": {
									"name": "GLAccount",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['GLAccountCode']"
								},
								"sink": {
									"name": "GLAccountCode",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['GLAccountDescription']"
								},
								"sink": {
									"name": "GLAccountDescription",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['ReportingYear']"
								},
								"sink": {
									"name": "ReportingYear",
									"type": "String"
								}
							}
						],
						"collectionReference": ""
					}
				},
				"inputs": [
					{
						"referenceName": "DS_EOL_CURRENTYEARAFTERENTRY",
						"type": "DatasetReference",
						"parameters": {
							"division": "2928333"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_BonvueSQL_CurrentYear_AfterEntry",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy Divsion",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy  CostCenters",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Authorization": {
								"value": "Bearer @{activity('GetEOLBearerToken').output.Response}",
								"type": "Expression"
							}
						},
						"paginationRules": {
							"AbsoluteUrl": "$.d.__next"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['d']['results'][0]['BlockingStatus']"
								},
								"sink": {
									"name": "BlockingStatus",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Code']"
								},
								"sink": {
									"name": "Code",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Country']"
								},
								"sink": {
									"name": "Country",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['CountryDescription']"
								},
								"sink": {
									"name": "CountryDescription",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Created']"
								},
								"sink": {
									"name": "Created",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Creator']"
								},
								"sink": {
									"name": "Creator",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['CreatorFullName']"
								},
								"sink": {
									"name": "CreatorFullName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Currency']"
								},
								"sink": {
									"name": "Currency",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['CurrencyDescription']"
								},
								"sink": {
									"name": "CurrencyDescription",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Customer']"
								},
								"sink": {
									"name": "Customer",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['CustomerCode']"
								},
								"sink": {
									"name": "CustomerCode",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['CustomerName']"
								},
								"sink": {
									"name": "CustomerName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Description']"
								},
								"sink": {
									"name": "Description",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['HID']"
								},
								"sink": {
									"name": "HID",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Main']"
								},
								"sink": {
									"name": "Main",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Modified']"
								},
								"sink": {
									"name": "Modified",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Modifier']"
								},
								"sink": {
									"name": "Modifier",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['ModifierFullName']"
								},
								"sink": {
									"name": "ModifierFullName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['OBNumber']"
								},
								"sink": {
									"name": "OBNumber",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['SiretNumber']"
								},
								"sink": {
									"name": "SiretNumber",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['StartDate']"
								},
								"sink": {
									"name": "StartDate",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Status']"
								},
								"sink": {
									"name": "Status",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['TaxOfficeNumber']"
								},
								"sink": {
									"name": "TaxOfficeNumber",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['TaxReferenceNumber']"
								},
								"sink": {
									"name": "TaxReferenceNumber",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['TemplateCode']"
								},
								"sink": {
									"name": "TemplateCode",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['VATNumber']"
								},
								"sink": {
									"name": "VATNumber",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Website']"
								},
								"sink": {
									"name": "Website",
									"type": "String"
								}
							}
						],
						"collectionReference": ""
					}
				},
				"inputs": [
					{
						"referenceName": "DS_EOL_DIVSION",
						"type": "DatasetReference",
						"parameters": {
							"division": "2928333"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_BonvueSQL_Divsion",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy DocumentAttachments",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy  CostCenters",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Authorization": {
								"value": "Bearer @{activity('GetEOLBearerToken').output.Response}",
								"type": "Expression"
							}
						},
						"paginationRules": {
							"AbsoluteUrl": "$.d.__next"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['d']['results'][0]['ID']"
								},
								"sink": {
									"name": "ID",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Attachment']"
								},
								"sink": {
									"name": "Attachment",
									"type": "Byte"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['FileName']"
								},
								"sink": {
									"name": "FileName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['FileSize']"
								},
								"sink": {
									"name": "FileSize",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Url']"
								},
								"sink": {
									"name": "Url",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Document']"
								},
								"sink": {
									"name": "Document",
									"type": "String"
								}
							}
						],
						"collectionReference": ""
					}
				},
				"inputs": [
					{
						"referenceName": "DS_EOL_DOCUMENTATTACHMENTS",
						"type": "DatasetReference",
						"parameters": {
							"division": "2928333"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_BonvueSQL_DocumentAttachments",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy GeneralJournalEntryLines",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "GetEOLBearerToken",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Authorization": {
								"value": "Bearer @{activity('GetEOLBearerToken').output.Response}",
								"type": "Expression"
							}
						},
						"paginationRules": {
							"AbsoluteUrl": "$.d.__next"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['d']['results'][0]['Account']"
								},
								"sink": {
									"name": "Account",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['AccountCode']"
								},
								"sink": {
									"name": "AccountCode",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['AccountName']"
								},
								"sink": {
									"name": "AccountName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['AmountDC']"
								},
								"sink": {
									"name": "AmountDC",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['AmountFC']"
								},
								"sink": {
									"name": "AmountFC",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['AmountVATDC']"
								},
								"sink": {
									"name": "AmountVATDC",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['AmountVATFC']"
								},
								"sink": {
									"name": "AmountVATFC",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Asset']"
								},
								"sink": {
									"name": "Asset",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['AssetCode']"
								},
								"sink": {
									"name": "AssetCode",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['AssetDescription']"
								},
								"sink": {
									"name": "AssetDescription",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['CostCenter']"
								},
								"sink": {
									"name": "CostCenter",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['CostCenterDescription']"
								},
								"sink": {
									"name": "CostCenterDescription",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['CostUnit']"
								},
								"sink": {
									"name": "CostUnit",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['CostUnitDescription']"
								},
								"sink": {
									"name": "CostUnitDescription",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Created']"
								},
								"sink": {
									"name": "Created",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Creator']"
								},
								"sink": {
									"name": "Creator",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['CreatorFullName']"
								},
								"sink": {
									"name": "CreatorFullName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Date']"
								},
								"sink": {
									"name": "Date",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Description']"
								},
								"sink": {
									"name": "Description",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Division']"
								},
								"sink": {
									"name": "Division",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Document']"
								},
								"sink": {
									"name": "Document",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['DocumentNumber']"
								},
								"sink": {
									"name": "DocumentNumber",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['DocumentSubject']"
								},
								"sink": {
									"name": "DocumentSubject",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['EntryID']"
								},
								"sink": {
									"name": "EntryID",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['EntryNumber']"
								},
								"sink": {
									"name": "EntryNumber",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['GLAccount']"
								},
								"sink": {
									"name": "GLAccount",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['GLAccountCode']"
								},
								"sink": {
									"name": "GLAccountCode",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['GLAccountDescription']"
								},
								"sink": {
									"name": "GLAccountDescription",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['ID']"
								},
								"sink": {
									"name": "ID",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['LineNumber']"
								},
								"sink": {
									"name": "LineNumber",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Modified']"
								},
								"sink": {
									"name": "Modified",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Modifier']"
								},
								"sink": {
									"name": "Modifier",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['ModifierFullName']"
								},
								"sink": {
									"name": "ModifierFullName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Notes']"
								},
								"sink": {
									"name": "Notes",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['OffsetID']"
								},
								"sink": {
									"name": "OffsetID",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['OurRef']"
								},
								"sink": {
									"name": "OurRef",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Project']"
								},
								"sink": {
									"name": "Project",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['ProjectCode']"
								},
								"sink": {
									"name": "ProjectCode",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['ProjectDescription']"
								},
								"sink": {
									"name": "ProjectDescription",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['Quantity']"
								},
								"sink": {
									"name": "Quantity",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['VATBaseAmountDC']"
								},
								"sink": {
									"name": "VATBaseAmountDC",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['VATBaseAmountFC']"
								},
								"sink": {
									"name": "VATBaseAmountFC",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['VATCode']"
								},
								"sink": {
									"name": "VATCode",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['VATCodeDescription']"
								},
								"sink": {
									"name": "VATCodeDescription",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['VATPercentage']"
								},
								"sink": {
									"name": "VATPercentage",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['d']['results'][0]['VATType']"
								},
								"sink": {
									"name": "VATType",
									"type": "String"
								}
							}
						],
						"collectionReference": ""
					}
				},
				"inputs": [
					{
						"referenceName": "DS_EOL_GENERALJOURNALENTRYLINES",
						"type": "DatasetReference",
						"parameters": {
							"division": "2928333"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_BonvueSQL_GeneralJournalEntryLines",
						"type": "DatasetReference"
					}
				]
			}
		],
		"annotations": [],
		"lastPublishTime": "2021-05-24T09:46:00Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}