pipeline/repro_RESTAPI_pagination.json
{
	"name": "repro_RESTAPI_pagination",
	"properties": {
		"activities": [
			{
				"name": "Until2",
				"type": "Until",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "int(variables('limit')) ",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data2",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"enableStaging": false
							}
						},
						{
							"name": "Set offsetTemp",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Copy data2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "offsettemp",
								"value": {
									"value": "@string(add(int(variables('limit')),int(variables('limit'))))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set offset",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set offsetTemp",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "offset",
								"value": {
									"value": "@variables('offsettemp')",
									"type": "Expression"
								}
							}
						}
					],
					"timeout": "7.00:00:00"
				}
			}
		],
		"variables": {
			"count": {
				"type": "String",
				"defaultValue": "0"
			},
			"limit": {
				"type": "String",
				"defaultValue": "100"
			},
			"offset": {
				"type": "String",
				"defaultValue": "0"
			},
			"offsettemp": {
				"type": "String",
				"defaultValue": "0"
			}
		},
		"annotations": []
	}
}